SocioBoard/SocioboardDataServices/Web References/Api.FacebookFeed/FacebookFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllFacebookFeedsByUserIdAndProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookFeedsByUserIdAndProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileId" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FacebookFeedSoap">
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdSoapIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookFeedHttpGet">
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookFeedHttpPost">
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacebookFeedSoap" type="tns:FacebookFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookFeedSoap12" type="tns:FacebookFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookFeedHttpGet" type="tns:FacebookFeedHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookFeedHttpPost" type="tns:FacebookFeedHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacebookFeed">
    <wsdl:port name="FacebookFeedSoap" binding="tns:FacebookFeedSoap">
      <soap:address location="http://api.socioboard.com/Services/FacebookFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookFeedSoap12" binding="tns:FacebookFeedSoap12">
      <soap12:address location="http://api.socioboard.com/Services/FacebookFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookFeedHttpGet" binding="tns:FacebookFeedHttpGet">
      <http:address location="http://api.socioboard.com/Services/FacebookFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookFeedHttpPost" binding="tns:FacebookFeedHttpPost">
      <http:address location="http://api.socioboard.com/Services/FacebookFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>