SocioBoard/Socioboard/Web References/Api.InstagramFeed/InstagramFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLinkedInFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LinkedInId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkedInFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkedInFeedsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedsOfProfileWithRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LinkedInId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataFromTop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedsOfProfileWithRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeedsOfProfileWithRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLinkedInFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkedInFeeds" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkedInFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeedsOfProfileWithRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeedsOfProfileWithRange" />
  </wsdl:message>
  <wsdl:message name="GetFeedsOfProfileWithRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeedsOfProfileWithRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInFeedsHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="LinkedInId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInFeedsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedsOfProfileWithRangeHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="LinkedInId" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
    <wsdl:part name="noOfDataFromTop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedsOfProfileWithRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInFeedsHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="LinkedInId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInFeedsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedsOfProfileWithRangeHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="LinkedInId" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
    <wsdl:part name="noOfDataFromTop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedsOfProfileWithRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="InstagramFeedSoap">
    <wsdl:operation name="GetLinkedInFeeds">
      <wsdl:input message="tns:GetLinkedInFeedsSoapIn" />
      <wsdl:output message="tns:GetLinkedInFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <wsdl:input message="tns:GetFeedsOfProfileWithRangeSoapIn" />
      <wsdl:output message="tns:GetFeedsOfProfileWithRangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InstagramFeedHttpGet">
    <wsdl:operation name="GetLinkedInFeeds">
      <wsdl:input message="tns:GetLinkedInFeedsHttpGetIn" />
      <wsdl:output message="tns:GetLinkedInFeedsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <wsdl:input message="tns:GetFeedsOfProfileWithRangeHttpGetIn" />
      <wsdl:output message="tns:GetFeedsOfProfileWithRangeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InstagramFeedHttpPost">
    <wsdl:operation name="GetLinkedInFeeds">
      <wsdl:input message="tns:GetLinkedInFeedsHttpPostIn" />
      <wsdl:output message="tns:GetLinkedInFeedsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <wsdl:input message="tns:GetFeedsOfProfileWithRangeHttpPostIn" />
      <wsdl:output message="tns:GetFeedsOfProfileWithRangeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstagramFeedSoap" type="tns:InstagramFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkedInFeeds">
      <soap:operation soapAction="http://tempuri.org/GetLinkedInFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <soap:operation soapAction="http://tempuri.org/GetFeedsOfProfileWithRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstagramFeedSoap12" type="tns:InstagramFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkedInFeeds">
      <soap12:operation soapAction="http://tempuri.org/GetLinkedInFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <soap12:operation soapAction="http://tempuri.org/GetFeedsOfProfileWithRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstagramFeedHttpGet" type="tns:InstagramFeedHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetLinkedInFeeds">
      <http:operation location="/GetLinkedInFeeds" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <http:operation location="/GetFeedsOfProfileWithRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstagramFeedHttpPost" type="tns:InstagramFeedHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetLinkedInFeeds">
      <http:operation location="/GetLinkedInFeeds" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedsOfProfileWithRange">
      <http:operation location="/GetFeedsOfProfileWithRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstagramFeed">
    <wsdl:port name="InstagramFeedSoap" binding="tns:InstagramFeedSoap">
      <soap:address location="http://api.socioboard.com/Services/InstagramFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="InstagramFeedSoap12" binding="tns:InstagramFeedSoap12">
      <soap12:address location="http://api.socioboard.com/Services/InstagramFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="InstagramFeedHttpGet" binding="tns:InstagramFeedHttpGet">
      <http:address location="http://api.socioboard.com/Services/InstagramFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="InstagramFeedHttpPost" binding="tns:InstagramFeedHttpPost">
      <http:address location="http://api.socioboard.com/Services/InstagramFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>