SocioBoard/Socioboard/Web References/Api.MailSender/MailSender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAgencyMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAgencyMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendAgencyMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEnterpriseMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="designation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companywebsite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEnterpriseMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEnterpriseMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCareerMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filepath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filetype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCareerMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendCareerMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestForDemo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestForDemoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendRequestForDemoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendChangePasswordMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendChangePasswordMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendChangePasswordMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFeedMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="feed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFeedMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFeedMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAddNewsLatterMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAddNewsLatterMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendAddNewsLatterMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTaskNotificationMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTaskNotificationMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendTaskNotificationMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendAgencyMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendAgencyMail" />
  </wsdl:message>
  <wsdl:message name="SendAgencyMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendAgencyMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendEnterpriseMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEnterpriseMail" />
  </wsdl:message>
  <wsdl:message name="SendEnterpriseMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEnterpriseMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendCareerMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendCareerMail" />
  </wsdl:message>
  <wsdl:message name="SendCareerMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendCareerMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendRequestForDemoSoapIn">
    <wsdl:part name="parameters" element="tns:SendRequestForDemo" />
  </wsdl:message>
  <wsdl:message name="SendRequestForDemoSoapOut">
    <wsdl:part name="parameters" element="tns:SendRequestForDemoResponse" />
  </wsdl:message>
  <wsdl:message name="SendChangePasswordMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendChangePasswordMail" />
  </wsdl:message>
  <wsdl:message name="SendChangePasswordMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendChangePasswordMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendFeedMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendFeedMail" />
  </wsdl:message>
  <wsdl:message name="SendFeedMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendFeedMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendAddNewsLatterMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendAddNewsLatterMail" />
  </wsdl:message>
  <wsdl:message name="SendAddNewsLatterMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendAddNewsLatterMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendTaskNotificationMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendTaskNotificationMail" />
  </wsdl:message>
  <wsdl:message name="SendTaskNotificationMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendTaskNotificationMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="profile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendAgencyMailHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Company" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="Phone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAgencyMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendEnterpriseMailHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="designation" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="location" type="s:string" />
    <wsdl:part name="Company" type="s:string" />
    <wsdl:part name="companywebsite" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="Phone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEnterpriseMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendCareerMailHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="profile" type="s:string" />
    <wsdl:part name="filepath" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
    <wsdl:part name="filetype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendCareerMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendRequestForDemoHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendRequestForDemoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendChangePasswordMailHttpGetIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendChangePasswordMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendFeedMailHttpGetIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="feed" type="s:string" />
    <wsdl:part name="fromname" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendFeedMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendAddNewsLatterMailHttpGetIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAddNewsLatterMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendTaskNotificationMailHttpGetIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendTaskNotificationMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="profile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendAgencyMailHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Company" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="Phone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAgencyMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendEnterpriseMailHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="designation" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="location" type="s:string" />
    <wsdl:part name="Company" type="s:string" />
    <wsdl:part name="companywebsite" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="Phone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEnterpriseMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendCareerMailHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="profile" type="s:string" />
    <wsdl:part name="filepath" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
    <wsdl:part name="filetype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendCareerMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendRequestForDemoHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendRequestForDemoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendChangePasswordMailHttpPostIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendChangePasswordMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendFeedMailHttpPostIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="feed" type="s:string" />
    <wsdl:part name="fromname" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendFeedMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendAddNewsLatterMailHttpPostIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAddNewsLatterMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendTaskNotificationMailHttpPostIn">
    <wsdl:part name="emailId" type="s:string" />
    <wsdl:part name="mailBody" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendTaskNotificationMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MailSenderSoap">
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <wsdl:input message="tns:SendAgencyMailSoapIn" />
      <wsdl:output message="tns:SendAgencyMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <wsdl:input message="tns:SendEnterpriseMailSoapIn" />
      <wsdl:output message="tns:SendEnterpriseMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <wsdl:input message="tns:SendCareerMailSoapIn" />
      <wsdl:output message="tns:SendCareerMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <wsdl:input message="tns:SendRequestForDemoSoapIn" />
      <wsdl:output message="tns:SendRequestForDemoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <wsdl:input message="tns:SendChangePasswordMailSoapIn" />
      <wsdl:output message="tns:SendChangePasswordMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <wsdl:input message="tns:SendFeedMailSoapIn" />
      <wsdl:output message="tns:SendFeedMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <wsdl:input message="tns:SendAddNewsLatterMailSoapIn" />
      <wsdl:output message="tns:SendAddNewsLatterMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <wsdl:input message="tns:SendTaskNotificationMailSoapIn" />
      <wsdl:output message="tns:SendTaskNotificationMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailSenderHttpGet">
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailHttpGetIn" />
      <wsdl:output message="tns:SendMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <wsdl:input message="tns:SendAgencyMailHttpGetIn" />
      <wsdl:output message="tns:SendAgencyMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <wsdl:input message="tns:SendEnterpriseMailHttpGetIn" />
      <wsdl:output message="tns:SendEnterpriseMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <wsdl:input message="tns:SendCareerMailHttpGetIn" />
      <wsdl:output message="tns:SendCareerMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <wsdl:input message="tns:SendRequestForDemoHttpGetIn" />
      <wsdl:output message="tns:SendRequestForDemoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <wsdl:input message="tns:SendChangePasswordMailHttpGetIn" />
      <wsdl:output message="tns:SendChangePasswordMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <wsdl:input message="tns:SendFeedMailHttpGetIn" />
      <wsdl:output message="tns:SendFeedMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <wsdl:input message="tns:SendAddNewsLatterMailHttpGetIn" />
      <wsdl:output message="tns:SendAddNewsLatterMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <wsdl:input message="tns:SendTaskNotificationMailHttpGetIn" />
      <wsdl:output message="tns:SendTaskNotificationMailHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailSenderHttpPost">
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailHttpPostIn" />
      <wsdl:output message="tns:SendMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <wsdl:input message="tns:SendAgencyMailHttpPostIn" />
      <wsdl:output message="tns:SendAgencyMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <wsdl:input message="tns:SendEnterpriseMailHttpPostIn" />
      <wsdl:output message="tns:SendEnterpriseMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <wsdl:input message="tns:SendCareerMailHttpPostIn" />
      <wsdl:output message="tns:SendCareerMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <wsdl:input message="tns:SendRequestForDemoHttpPostIn" />
      <wsdl:output message="tns:SendRequestForDemoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <wsdl:input message="tns:SendChangePasswordMailHttpPostIn" />
      <wsdl:output message="tns:SendChangePasswordMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <wsdl:input message="tns:SendFeedMailHttpPostIn" />
      <wsdl:output message="tns:SendFeedMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <wsdl:input message="tns:SendAddNewsLatterMailHttpPostIn" />
      <wsdl:output message="tns:SendAddNewsLatterMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <wsdl:input message="tns:SendTaskNotificationMailHttpPostIn" />
      <wsdl:output message="tns:SendTaskNotificationMailHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSenderSoap" type="tns:MailSenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <soap:operation soapAction="http://tempuri.org/SendAgencyMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <soap:operation soapAction="http://tempuri.org/SendEnterpriseMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <soap:operation soapAction="http://tempuri.org/SendCareerMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <soap:operation soapAction="http://tempuri.org/SendRequestForDemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <soap:operation soapAction="http://tempuri.org/SendChangePasswordMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <soap:operation soapAction="http://tempuri.org/SendFeedMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <soap:operation soapAction="http://tempuri.org/SendAddNewsLatterMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <soap:operation soapAction="http://tempuri.org/SendTaskNotificationMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSenderSoap12" type="tns:MailSenderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <soap12:operation soapAction="http://tempuri.org/SendAgencyMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <soap12:operation soapAction="http://tempuri.org/SendEnterpriseMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <soap12:operation soapAction="http://tempuri.org/SendCareerMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <soap12:operation soapAction="http://tempuri.org/SendRequestForDemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <soap12:operation soapAction="http://tempuri.org/SendChangePasswordMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <soap12:operation soapAction="http://tempuri.org/SendFeedMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <soap12:operation soapAction="http://tempuri.org/SendAddNewsLatterMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <soap12:operation soapAction="http://tempuri.org/SendTaskNotificationMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSenderHttpGet" type="tns:MailSenderHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMail">
      <http:operation location="/SendMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <http:operation location="/SendAgencyMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <http:operation location="/SendEnterpriseMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <http:operation location="/SendCareerMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <http:operation location="/SendRequestForDemo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <http:operation location="/SendChangePasswordMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <http:operation location="/SendFeedMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <http:operation location="/SendAddNewsLatterMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <http:operation location="/SendTaskNotificationMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSenderHttpPost" type="tns:MailSenderHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMail">
      <http:operation location="/SendMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAgencyMail">
      <http:operation location="/SendAgencyMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEnterpriseMail">
      <http:operation location="/SendEnterpriseMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCareerMail">
      <http:operation location="/SendCareerMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestForDemo">
      <http:operation location="/SendRequestForDemo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendChangePasswordMail">
      <http:operation location="/SendChangePasswordMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFeedMail">
      <http:operation location="/SendFeedMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAddNewsLatterMail">
      <http:operation location="/SendAddNewsLatterMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTaskNotificationMail">
      <http:operation location="/SendTaskNotificationMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailSender">
    <wsdl:port name="MailSenderSoap" binding="tns:MailSenderSoap">
      <soap:address location="http://devapi.socioboard.com/Services/MailSender.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSenderSoap12" binding="tns:MailSenderSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/MailSender.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSenderHttpGet" binding="tns:MailSenderHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/MailSender.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSenderHttpPost" binding="tns:MailSenderHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/MailSender.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>