SocioBoard/Socioboard/Web References/Api.Admin/Admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeAdminPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeAdminPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeAdminPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAdminSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjADmin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAdminSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAdminSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeAdminPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeAdminPassword" />
  </wsdl:message>
  <wsdl:message name="ChangeAdminPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeAdminPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAdminSettingSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAdminSetting" />
  </wsdl:message>
  <wsdl:message name="UpdateAdminSettingSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAdminSettingResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAdminPasswordHttpGetIn">
    <wsdl:part name="NewPassword" type="s:string" />
    <wsdl:part name="OldPassword" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAdminPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAdminSettingHttpGetIn">
    <wsdl:part name="ObjADmin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAdminSettingHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAdminPasswordHttpPostIn">
    <wsdl:part name="NewPassword" type="s:string" />
    <wsdl:part name="OldPassword" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAdminPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAdminSettingHttpPostIn">
    <wsdl:part name="ObjADmin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAdminSettingHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="AdminSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <wsdl:input message="tns:ChangeAdminPasswordSoapIn" />
      <wsdl:output message="tns:ChangeAdminPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <wsdl:input message="tns:UpdateAdminSettingSoapIn" />
      <wsdl:output message="tns:UpdateAdminSettingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdminHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <wsdl:input message="tns:ChangeAdminPasswordHttpGetIn" />
      <wsdl:output message="tns:ChangeAdminPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <wsdl:input message="tns:UpdateAdminSettingHttpGetIn" />
      <wsdl:output message="tns:UpdateAdminSettingHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdminHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <wsdl:input message="tns:ChangeAdminPasswordHttpPostIn" />
      <wsdl:output message="tns:ChangeAdminPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <wsdl:input message="tns:UpdateAdminSettingHttpPostIn" />
      <wsdl:output message="tns:UpdateAdminSettingHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminSoap" type="tns:AdminSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <soap:operation soapAction="http://tempuri.org/ChangeAdminPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <soap:operation soapAction="http://tempuri.org/UpdateAdminSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminSoap12" type="tns:AdminSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <soap12:operation soapAction="http://tempuri.org/ChangeAdminPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <soap12:operation soapAction="http://tempuri.org/UpdateAdminSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminHttpGet" type="tns:AdminHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <http:operation location="/ChangeAdminPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <http:operation location="/UpdateAdminSetting" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminHttpPost" type="tns:AdminHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAdminPassword">
      <http:operation location="/ChangeAdminPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminSetting">
      <http:operation location="/UpdateAdminSetting" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Admin">
    <wsdl:port name="AdminSoap" binding="tns:AdminSoap">
      <soap:address location="http://devapi.socioboard.com/Services/Admin.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminSoap12" binding="tns:AdminSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/Admin.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminHttpGet" binding="tns:AdminHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/Admin.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminHttpPost" binding="tns:AdminHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/Admin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>