SocioBoard/Socioboard/Web References/Api.FbPagePost/FbPagePost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPostDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPostOfPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPostOfPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPostOfPageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostDetails" />
  </wsdl:message>
  <wsdl:message name="GetPostDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPostOfPage" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPostOfPageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostDetailsHttpGetIn">
    <wsdl:part name="postid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPostDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageHttpGetIn">
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPostDetailsHttpPostIn">
    <wsdl:part name="postid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPostDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageHttpPostIn">
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FbPagePostSoap">
    <wsdl:operation name="GetPostDetails">
      <wsdl:input message="tns:GetPostDetailsSoapIn" />
      <wsdl:output message="tns:GetPostDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <wsdl:input message="tns:GetAllPostOfPageSoapIn" />
      <wsdl:output message="tns:GetAllPostOfPageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FbPagePostHttpGet">
    <wsdl:operation name="GetPostDetails">
      <wsdl:input message="tns:GetPostDetailsHttpGetIn" />
      <wsdl:output message="tns:GetPostDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <wsdl:input message="tns:GetAllPostOfPageHttpGetIn" />
      <wsdl:output message="tns:GetAllPostOfPageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FbPagePostHttpPost">
    <wsdl:operation name="GetPostDetails">
      <wsdl:input message="tns:GetPostDetailsHttpPostIn" />
      <wsdl:output message="tns:GetPostDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <wsdl:input message="tns:GetAllPostOfPageHttpPostIn" />
      <wsdl:output message="tns:GetAllPostOfPageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FbPagePostSoap" type="tns:FbPagePostSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostDetails">
      <soap:operation soapAction="http://tempuri.org/GetPostDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <soap:operation soapAction="http://tempuri.org/GetAllPostOfPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPagePostSoap12" type="tns:FbPagePostSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPostDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <soap12:operation soapAction="http://tempuri.org/GetAllPostOfPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPagePostHttpGet" type="tns:FbPagePostHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPostDetails">
      <http:operation location="/GetPostDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <http:operation location="/GetAllPostOfPage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPagePostHttpPost" type="tns:FbPagePostHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPostDetails">
      <http:operation location="/GetPostDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <http:operation location="/GetAllPostOfPage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FbPagePost">
    <wsdl:port name="FbPagePostSoap" binding="tns:FbPagePostSoap">
      <soap:address location="http://localhost:6361/Services/FbPagePost.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPagePostSoap12" binding="tns:FbPagePostSoap12">
      <soap12:address location="http://localhost:6361/Services/FbPagePost.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPagePostHttpGet" binding="tns:FbPagePostHttpGet">
      <http:address location="http://localhost:6361/Services/FbPagePost.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPagePostHttpPost" binding="tns:FbPagePostHttpPost">
      <http:address location="http://localhost:6361/Services/FbPagePost.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>