SocioBoard/Socioboard/Web References/Api.GoogleAnalytics/GoogleAnalytics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAnalyticsProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnalyticsProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAnalyticsProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAnalyticsProfiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GAProfiles" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAnalyticsProfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAnalyticsProfilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGoogleAnalyticsAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGoogleAnalyticsAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateGoogleAnalyticsAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoogleAnalyticsData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoogleAnalyticsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoogleAnalyticsDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterWebMentions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterWebMentionsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DailyMotionPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DailyMotionPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyMotionPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYoutubeSearchData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYoutubeSearchDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYoutubeSearchDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAnalyticsProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetAnalyticsProfile" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetAnalyticsProfileResponse" />
  </wsdl:message>
  <wsdl:message name="AddAnalyticsProfilesSoapIn">
    <wsdl:part name="parameters" element="tns:AddAnalyticsProfiles" />
  </wsdl:message>
  <wsdl:message name="AddAnalyticsProfilesSoapOut">
    <wsdl:part name="parameters" element="tns:AddAnalyticsProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGoogleAnalyticsAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGoogleAnalyticsAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateGoogleAnalyticsAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGoogleAnalyticsAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetGoogleAnalyticsDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetGoogleAnalyticsData" />
  </wsdl:message>
  <wsdl:message name="GetGoogleAnalyticsDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoogleAnalyticsDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterWebMentionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterWebMentions" />
  </wsdl:message>
  <wsdl:message name="GetTwitterWebMentionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterWebMentionsResponse" />
  </wsdl:message>
  <wsdl:message name="DailyMotionPostSoapIn">
    <wsdl:part name="parameters" element="tns:DailyMotionPost" />
  </wsdl:message>
  <wsdl:message name="DailyMotionPostSoapOut">
    <wsdl:part name="parameters" element="tns:DailyMotionPostResponse" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeSearchDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetYoutubeSearchData" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeSearchDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetYoutubeSearchDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsProfileHttpGetIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddAnalyticsProfilesHttpGetIn">
    <wsdl:part name="GAProfiles" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAnalyticsProfilesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGoogleAnalyticsAccountHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="AccessToken" type="s:string" />
    <wsdl:part name="HostName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGoogleAnalyticsAccountHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGoogleAnalyticsDataHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="AccessToken" type="s:string" />
    <wsdl:part name="HostName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGoogleAnalyticsDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterWebMentionsHttpGetIn">
    <wsdl:part name="HostName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterWebMentionsHttpGetOut" />
  <wsdl:message name="DailyMotionPostHttpGetIn">
    <wsdl:part name="Url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DailyMotionPostHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeSearchDataHttpGetIn">
    <wsdl:part name="Url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeSearchDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsProfileHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddAnalyticsProfilesHttpPostIn">
    <wsdl:part name="GAProfiles" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAnalyticsProfilesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGoogleAnalyticsAccountHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="AccessToken" type="s:string" />
    <wsdl:part name="HostName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGoogleAnalyticsAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGoogleAnalyticsDataHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="AccessToken" type="s:string" />
    <wsdl:part name="HostName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGoogleAnalyticsDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterWebMentionsHttpPostIn">
    <wsdl:part name="HostName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterWebMentionsHttpPostOut" />
  <wsdl:message name="DailyMotionPostHttpPostIn">
    <wsdl:part name="Url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DailyMotionPostHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeSearchDataHttpPostIn">
    <wsdl:part name="Url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeSearchDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GoogleAnalyticsSoap">
    <wsdl:operation name="GetAnalyticsProfile">
      <wsdl:input message="tns:GetAnalyticsProfileSoapIn" />
      <wsdl:output message="tns:GetAnalyticsProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <wsdl:input message="tns:AddAnalyticsProfilesSoapIn" />
      <wsdl:output message="tns:AddAnalyticsProfilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <wsdl:input message="tns:UpdateGoogleAnalyticsAccountSoapIn" />
      <wsdl:output message="tns:UpdateGoogleAnalyticsAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <wsdl:input message="tns:GetGoogleAnalyticsDataSoapIn" />
      <wsdl:output message="tns:GetGoogleAnalyticsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <wsdl:input message="tns:GetTwitterWebMentionsSoapIn" />
      <wsdl:output message="tns:GetTwitterWebMentionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <wsdl:input message="tns:DailyMotionPostSoapIn" />
      <wsdl:output message="tns:DailyMotionPostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <wsdl:input message="tns:GetYoutubeSearchDataSoapIn" />
      <wsdl:output message="tns:GetYoutubeSearchDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GoogleAnalyticsHttpGet">
    <wsdl:operation name="GetAnalyticsProfile">
      <wsdl:input message="tns:GetAnalyticsProfileHttpGetIn" />
      <wsdl:output message="tns:GetAnalyticsProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <wsdl:input message="tns:AddAnalyticsProfilesHttpGetIn" />
      <wsdl:output message="tns:AddAnalyticsProfilesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <wsdl:input message="tns:UpdateGoogleAnalyticsAccountHttpGetIn" />
      <wsdl:output message="tns:UpdateGoogleAnalyticsAccountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <wsdl:input message="tns:GetGoogleAnalyticsDataHttpGetIn" />
      <wsdl:output message="tns:GetGoogleAnalyticsDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <wsdl:input message="tns:GetTwitterWebMentionsHttpGetIn" />
      <wsdl:output message="tns:GetTwitterWebMentionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <wsdl:input message="tns:DailyMotionPostHttpGetIn" />
      <wsdl:output message="tns:DailyMotionPostHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <wsdl:input message="tns:GetYoutubeSearchDataHttpGetIn" />
      <wsdl:output message="tns:GetYoutubeSearchDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GoogleAnalyticsHttpPost">
    <wsdl:operation name="GetAnalyticsProfile">
      <wsdl:input message="tns:GetAnalyticsProfileHttpPostIn" />
      <wsdl:output message="tns:GetAnalyticsProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <wsdl:input message="tns:AddAnalyticsProfilesHttpPostIn" />
      <wsdl:output message="tns:AddAnalyticsProfilesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <wsdl:input message="tns:UpdateGoogleAnalyticsAccountHttpPostIn" />
      <wsdl:output message="tns:UpdateGoogleAnalyticsAccountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <wsdl:input message="tns:GetGoogleAnalyticsDataHttpPostIn" />
      <wsdl:output message="tns:GetGoogleAnalyticsDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <wsdl:input message="tns:GetTwitterWebMentionsHttpPostIn" />
      <wsdl:output message="tns:GetTwitterWebMentionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <wsdl:input message="tns:DailyMotionPostHttpPostIn" />
      <wsdl:output message="tns:DailyMotionPostHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <wsdl:input message="tns:GetYoutubeSearchDataHttpPostIn" />
      <wsdl:output message="tns:GetYoutubeSearchDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoogleAnalyticsSoap" type="tns:GoogleAnalyticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAnalyticsProfile">
      <soap:operation soapAction="http://tempuri.org/GetAnalyticsProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <soap:operation soapAction="http://tempuri.org/AddAnalyticsProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateGoogleAnalyticsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <soap:operation soapAction="http://tempuri.org/GetGoogleAnalyticsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <soap:operation soapAction="http://tempuri.org/GetTwitterWebMentions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <soap:operation soapAction="http://tempuri.org/DailyMotionPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <soap:operation soapAction="http://tempuri.org/GetYoutubeSearchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoogleAnalyticsSoap12" type="tns:GoogleAnalyticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAnalyticsProfile">
      <soap12:operation soapAction="http://tempuri.org/GetAnalyticsProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <soap12:operation soapAction="http://tempuri.org/AddAnalyticsProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateGoogleAnalyticsAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <soap12:operation soapAction="http://tempuri.org/GetGoogleAnalyticsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterWebMentions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <soap12:operation soapAction="http://tempuri.org/DailyMotionPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <soap12:operation soapAction="http://tempuri.org/GetYoutubeSearchData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoogleAnalyticsHttpGet" type="tns:GoogleAnalyticsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAnalyticsProfile">
      <http:operation location="/GetAnalyticsProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <http:operation location="/AddAnalyticsProfiles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <http:operation location="/UpdateGoogleAnalyticsAccount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <http:operation location="/GetGoogleAnalyticsData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <http:operation location="/GetTwitterWebMentions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <http:operation location="/DailyMotionPost" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <http:operation location="/GetYoutubeSearchData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoogleAnalyticsHttpPost" type="tns:GoogleAnalyticsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAnalyticsProfile">
      <http:operation location="/GetAnalyticsProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalyticsProfiles">
      <http:operation location="/AddAnalyticsProfiles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGoogleAnalyticsAccount">
      <http:operation location="/UpdateGoogleAnalyticsAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleAnalyticsData">
      <http:operation location="/GetGoogleAnalyticsData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterWebMentions">
      <http:operation location="/GetTwitterWebMentions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DailyMotionPost">
      <http:operation location="/DailyMotionPost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeSearchData">
      <http:operation location="/GetYoutubeSearchData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoogleAnalytics">
    <wsdl:port name="GoogleAnalyticsSoap" binding="tns:GoogleAnalyticsSoap">
      <soap:address location="http://localhost:6361/services/GoogleAnalytics.asmx" />
    </wsdl:port>
    <wsdl:port name="GoogleAnalyticsSoap12" binding="tns:GoogleAnalyticsSoap12">
      <soap12:address location="http://localhost:6361/services/GoogleAnalytics.asmx" />
    </wsdl:port>
    <wsdl:port name="GoogleAnalyticsHttpGet" binding="tns:GoogleAnalyticsHttpGet">
      <http:address location="http://localhost:6361/services/GoogleAnalytics.asmx" />
    </wsdl:port>
    <wsdl:port name="GoogleAnalyticsHttpPost" binding="tns:GoogleAnalyticsHttpPost">
      <http:address location="http://localhost:6361/services/GoogleAnalytics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>