SocioBoard/Socioboard/Web References/Api.TwitterFeed/TwitterFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTwitterFeedsByUserIdAndProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterFeedOfUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterFeedOfUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterFeedOfUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileId" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterFeedOfUsers" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterFeedOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TwitterFeedSoap">
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:GetAllTwitterFeedsByUserIdAndProfileIdSoapIn" />
      <wsdl:output message="tns:GetAllTwitterFeedsByUserIdAndProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <wsdl:input message="tns:getAllTwitterFeedOfUsersSoapIn" />
      <wsdl:output message="tns:getAllTwitterFeedOfUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TwitterFeedHttpGet">
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:GetAllTwitterFeedsByUserIdAndProfileIdHttpGetIn" />
      <wsdl:output message="tns:GetAllTwitterFeedsByUserIdAndProfileIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <wsdl:input message="tns:getAllTwitterFeedOfUsersHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterFeedOfUsersHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TwitterFeedHttpPost">
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:GetAllTwitterFeedsByUserIdAndProfileIdHttpPostIn" />
      <wsdl:output message="tns:GetAllTwitterFeedsByUserIdAndProfileIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <wsdl:input message="tns:getAllTwitterFeedOfUsersHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterFeedOfUsersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterFeedSoap" type="tns:TwitterFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <soap:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterFeedOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterFeedSoap12" type="tns:TwitterFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <soap12:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterFeedOfUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterFeedHttpGet" type="tns:TwitterFeedHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <http:operation location="/GetAllTwitterFeedsByUserIdAndProfileId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <http:operation location="/getAllTwitterFeedOfUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterFeedHttpPost" type="tns:TwitterFeedHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <http:operation location="/GetAllTwitterFeedsByUserIdAndProfileId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <http:operation location="/getAllTwitterFeedOfUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterFeed">
    <wsdl:port name="TwitterFeedSoap" binding="tns:TwitterFeedSoap">
      <soap:address location="http://localhost:6361/Services/TwitterFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterFeedSoap12" binding="tns:TwitterFeedSoap12">
      <soap12:address location="http://localhost:6361/Services/TwitterFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterFeedHttpGet" binding="tns:TwitterFeedHttpGet">
      <http:address location="http://localhost:6361/Services/TwitterFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterFeedHttpPost" binding="tns:TwitterFeedHttpPost">
      <http:address location="http://localhost:6361/Services/TwitterFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>