SocioBoard/SocioboardDataScheduler/Web References/Api.NewsLetter/NewsLetter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllNewsLetters">
        <s:complexType />
      </s:element>
      <s:element name="GetAllNewsLettersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllNewsLettersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNewsLetter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewsLetterId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNewsLetterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendNewsLetterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllNewsLettersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllNewsLetters" />
  </wsdl:message>
  <wsdl:message name="GetAllNewsLettersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllNewsLettersResponse" />
  </wsdl:message>
  <wsdl:message name="SendNewsLetterSoapIn">
    <wsdl:part name="parameters" element="tns:SendNewsLetter" />
  </wsdl:message>
  <wsdl:message name="SendNewsLetterSoapOut">
    <wsdl:part name="parameters" element="tns:SendNewsLetterResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllNewsLettersHttpGetIn" />
  <wsdl:message name="GetAllNewsLettersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendNewsLetterHttpGetIn">
    <wsdl:part name="body" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="NewsLetterId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendNewsLetterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllNewsLettersHttpPostIn" />
  <wsdl:message name="GetAllNewsLettersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendNewsLetterHttpPostIn">
    <wsdl:part name="body" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="NewsLetterId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendNewsLetterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="NewsLetterSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <wsdl:input message="tns:GetAllNewsLettersSoapIn" />
      <wsdl:output message="tns:GetAllNewsLettersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <wsdl:input message="tns:SendNewsLetterSoapIn" />
      <wsdl:output message="tns:SendNewsLetterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NewsLetterHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <wsdl:input message="tns:GetAllNewsLettersHttpGetIn" />
      <wsdl:output message="tns:GetAllNewsLettersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <wsdl:input message="tns:SendNewsLetterHttpGetIn" />
      <wsdl:output message="tns:SendNewsLetterHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NewsLetterHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <wsdl:input message="tns:GetAllNewsLettersHttpPostIn" />
      <wsdl:output message="tns:GetAllNewsLettersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <wsdl:input message="tns:SendNewsLetterHttpPostIn" />
      <wsdl:output message="tns:SendNewsLetterHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewsLetterSoap" type="tns:NewsLetterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <soap:operation soapAction="http://tempuri.org/GetAllNewsLetters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <soap:operation soapAction="http://tempuri.org/SendNewsLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewsLetterSoap12" type="tns:NewsLetterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <soap12:operation soapAction="http://tempuri.org/GetAllNewsLetters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <soap12:operation soapAction="http://tempuri.org/SendNewsLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewsLetterHttpGet" type="tns:NewsLetterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <http:operation location="/GetAllNewsLetters" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <http:operation location="/SendNewsLetter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewsLetterHttpPost" type="tns:NewsLetterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsLetters">
      <http:operation location="/GetAllNewsLetters" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNewsLetter">
      <http:operation location="/SendNewsLetter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsLetter">
    <wsdl:port name="NewsLetterSoap" binding="tns:NewsLetterSoap">
      <soap:address location="http://localhost:6361/Services/NewsLetter.asmx" />
    </wsdl:port>
    <wsdl:port name="NewsLetterSoap12" binding="tns:NewsLetterSoap12">
      <soap12:address location="http://localhost:6361/Services/NewsLetter.asmx" />
    </wsdl:port>
    <wsdl:port name="NewsLetterHttpGet" binding="tns:NewsLetterHttpGet">
      <http:address location="http://localhost:6361/Services/NewsLetter.asmx" />
    </wsdl:port>
    <wsdl:port name="NewsLetterHttpPost" binding="tns:NewsLetterHttpPost">
      <http:address location="http://localhost:6361/Services/NewsLetter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>