SocioBoard/Socioboard/Web References/Api.GroupScheduleMessage/GroupScheduleMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddGroupScheduleMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schedulemessageid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGroupScheduleMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGroupScheduleMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddGroupScheduleMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddGroupScheduleMessage" />
  </wsdl:message>
  <wsdl:message name="AddGroupScheduleMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddGroupScheduleMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupScheduleMessageHttpGetIn">
    <wsdl:part name="schedulemessageid" type="s:string" />
    <wsdl:part name="groupid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddGroupScheduleMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddGroupScheduleMessageHttpPostIn">
    <wsdl:part name="schedulemessageid" type="s:string" />
    <wsdl:part name="groupid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddGroupScheduleMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GroupScheduleMessageSoap">
    <wsdl:operation name="AddGroupScheduleMessage">
      <wsdl:input message="tns:AddGroupScheduleMessageSoapIn" />
      <wsdl:output message="tns:AddGroupScheduleMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GroupScheduleMessageHttpGet">
    <wsdl:operation name="AddGroupScheduleMessage">
      <wsdl:input message="tns:AddGroupScheduleMessageHttpGetIn" />
      <wsdl:output message="tns:AddGroupScheduleMessageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GroupScheduleMessageHttpPost">
    <wsdl:operation name="AddGroupScheduleMessage">
      <wsdl:input message="tns:AddGroupScheduleMessageHttpPostIn" />
      <wsdl:output message="tns:AddGroupScheduleMessageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupScheduleMessageSoap" type="tns:GroupScheduleMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGroupScheduleMessage">
      <soap:operation soapAction="http://tempuri.org/AddGroupScheduleMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupScheduleMessageSoap12" type="tns:GroupScheduleMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGroupScheduleMessage">
      <soap12:operation soapAction="http://tempuri.org/AddGroupScheduleMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupScheduleMessageHttpGet" type="tns:GroupScheduleMessageHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddGroupScheduleMessage">
      <http:operation location="/AddGroupScheduleMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupScheduleMessageHttpPost" type="tns:GroupScheduleMessageHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddGroupScheduleMessage">
      <http:operation location="/AddGroupScheduleMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupScheduleMessage">
    <wsdl:port name="GroupScheduleMessageSoap" binding="tns:GroupScheduleMessageSoap">
      <soap:address location="http://devapi.socioboard.com/Services/GroupScheduleMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupScheduleMessageSoap12" binding="tns:GroupScheduleMessageSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/GroupScheduleMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupScheduleMessageHttpGet" binding="tns:GroupScheduleMessageHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/GroupScheduleMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupScheduleMessageHttpPost" binding="tns:GroupScheduleMessageHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/GroupScheduleMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>