SocioBoard/Socioboard/Web References/Api.PaymentTransaction/PaymentTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePayPalTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountPaid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePayPalTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePayPalTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:SavePayPalTransaction" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:SavePayPalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="amountPaid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="amountPaid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PaymentTransactionSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <wsdl:input message="tns:SavePayPalTransactionSoapIn" />
      <wsdl:output message="tns:SavePayPalTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentTransactionHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <wsdl:input message="tns:SavePayPalTransactionHttpGetIn" />
      <wsdl:output message="tns:SavePayPalTransactionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentTransactionHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <wsdl:input message="tns:SavePayPalTransactionHttpPostIn" />
      <wsdl:output message="tns:SavePayPalTransactionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentTransactionSoap" type="tns:PaymentTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <soap:operation soapAction="http://tempuri.org/SavePayPalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentTransactionSoap12" type="tns:PaymentTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <soap12:operation soapAction="http://tempuri.org/SavePayPalTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentTransactionHttpGet" type="tns:PaymentTransactionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <http:operation location="/SavePayPalTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentTransactionHttpPost" type="tns:PaymentTransactionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransaction">
      <http:operation location="/SavePayPalTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentTransaction">
    <wsdl:port name="PaymentTransactionSoap" binding="tns:PaymentTransactionSoap">
      <soap:address location="http://localhost:6361/Services/PaymentTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentTransactionSoap12" binding="tns:PaymentTransactionSoap12">
      <soap12:address location="http://localhost:6361/Services/PaymentTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentTransactionHttpGet" binding="tns:PaymentTransactionHttpGet">
      <http:address location="http://localhost:6361/Services/PaymentTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentTransactionHttpPost" binding="tns:PaymentTransactionHttpPost">
      <http:address location="http://localhost:6361/Services/PaymentTransaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>