SocioBoard/Socioboard/Web References/Api.PaymentTransaction/PaymentTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SavePayPalTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountPaid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePayPalTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePayPalTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePayPalTransactionDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AmountPaid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePayPalTransactionDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePayPalTransactionDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentDataByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentDataByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentDataByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SavePayPalTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:SavePayPalTransaction" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:SavePayPalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionDetailSoapIn">
    <wsdl:part name="parameters" element="tns:SavePayPalTransactionDetail" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionDetailSoapOut">
    <wsdl:part name="parameters" element="tns:SavePayPalTransactionDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDataByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentDataByUserId" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDataByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentDataByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="amountPaid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionDetailHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="AmountPaid" type="s:string" />
    <wsdl:part name="TransactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionDetailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDataByUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDataByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="amountPaid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionDetailHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="AmountPaid" type="s:string" />
    <wsdl:part name="TransactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SavePayPalTransactionDetailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDataByUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDataByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PaymentTransactionSoap">
    <wsdl:operation name="SavePayPalTransaction">
      <wsdl:input message="tns:SavePayPalTransactionSoapIn" />
      <wsdl:output message="tns:SavePayPalTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <wsdl:input message="tns:SavePayPalTransactionDetailSoapIn" />
      <wsdl:output message="tns:SavePayPalTransactionDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <wsdl:input message="tns:GetPaymentDataByUserIdSoapIn" />
      <wsdl:output message="tns:GetPaymentDataByUserIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentTransactionHttpGet">
    <wsdl:operation name="SavePayPalTransaction">
      <wsdl:input message="tns:SavePayPalTransactionHttpGetIn" />
      <wsdl:output message="tns:SavePayPalTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <wsdl:input message="tns:SavePayPalTransactionDetailHttpGetIn" />
      <wsdl:output message="tns:SavePayPalTransactionDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <wsdl:input message="tns:GetPaymentDataByUserIdHttpGetIn" />
      <wsdl:output message="tns:GetPaymentDataByUserIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentTransactionHttpPost">
    <wsdl:operation name="SavePayPalTransaction">
      <wsdl:input message="tns:SavePayPalTransactionHttpPostIn" />
      <wsdl:output message="tns:SavePayPalTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <wsdl:input message="tns:SavePayPalTransactionDetailHttpPostIn" />
      <wsdl:output message="tns:SavePayPalTransactionDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <wsdl:input message="tns:GetPaymentDataByUserIdHttpPostIn" />
      <wsdl:output message="tns:GetPaymentDataByUserIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentTransactionSoap" type="tns:PaymentTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SavePayPalTransaction">
      <soap:operation soapAction="http://tempuri.org/SavePayPalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <soap:operation soapAction="http://tempuri.org/SavePayPalTransactionDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <soap:operation soapAction="http://tempuri.org/GetPaymentDataByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentTransactionSoap12" type="tns:PaymentTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SavePayPalTransaction">
      <soap12:operation soapAction="http://tempuri.org/SavePayPalTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <soap12:operation soapAction="http://tempuri.org/SavePayPalTransactionDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetPaymentDataByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentTransactionHttpGet" type="tns:PaymentTransactionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SavePayPalTransaction">
      <http:operation location="/SavePayPalTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <http:operation location="/SavePayPalTransactionDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <http:operation location="/GetPaymentDataByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentTransactionHttpPost" type="tns:PaymentTransactionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SavePayPalTransaction">
      <http:operation location="/SavePayPalTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePayPalTransactionDetail">
      <http:operation location="/SavePayPalTransactionDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDataByUserId">
      <http:operation location="/GetPaymentDataByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentTransaction">
    <wsdl:port name="PaymentTransactionSoap" binding="tns:PaymentTransactionSoap">
      <soap:address location="http://localhost:6361/services/PaymentTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentTransactionSoap12" binding="tns:PaymentTransactionSoap12">
      <soap12:address location="http://localhost:6361/services/PaymentTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentTransactionHttpGet" binding="tns:PaymentTransactionHttpGet">
      <http:address location="http://localhost:6361/services/PaymentTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentTransactionHttpPost" binding="tns:PaymentTransactionHttpPost">
      <http:address location="http://localhost:6361/services/PaymentTransaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>