SocioBoard/Socioboard/Web References/Api.FbPageComment/FbPageComment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPostComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostCommentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Jdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCommentDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommentExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Jdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommentExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCommentExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFbPageCommentStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Jdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFbPageCommentStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFbPageCommentStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostComments" />
  </wsdl:message>
  <wsdl:message name="GetPostCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="AddCommentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddCommentDetails" />
  </wsdl:message>
  <wsdl:message name="AddCommentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddCommentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IsCommentExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsCommentExist" />
  </wsdl:message>
  <wsdl:message name="IsCommentExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsCommentExistResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPageCommentStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFbPageCommentStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPageCommentStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFbPageCommentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostCommentsHttpGetIn">
    <wsdl:part name="postid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPostCommentsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddCommentDetailsHttpGetIn">
    <wsdl:part name="Jdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCommentDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsCommentExistHttpGetIn">
    <wsdl:part name="Jdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsCommentExistHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPageCommentStatusHttpGetIn">
    <wsdl:part name="Jdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPageCommentStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetPostCommentsHttpPostIn">
    <wsdl:part name="postid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPostCommentsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddCommentDetailsHttpPostIn">
    <wsdl:part name="Jdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCommentDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsCommentExistHttpPostIn">
    <wsdl:part name="Jdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsCommentExistHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPageCommentStatusHttpPostIn">
    <wsdl:part name="Jdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPageCommentStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="FbPageCommentSoap">
    <wsdl:operation name="GetPostComments">
      <wsdl:input message="tns:GetPostCommentsSoapIn" />
      <wsdl:output message="tns:GetPostCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <wsdl:input message="tns:AddCommentDetailsSoapIn" />
      <wsdl:output message="tns:AddCommentDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <wsdl:input message="tns:IsCommentExistSoapIn" />
      <wsdl:output message="tns:IsCommentExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <wsdl:input message="tns:UpdateFbPageCommentStatusSoapIn" />
      <wsdl:output message="tns:UpdateFbPageCommentStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FbPageCommentHttpGet">
    <wsdl:operation name="GetPostComments">
      <wsdl:input message="tns:GetPostCommentsHttpGetIn" />
      <wsdl:output message="tns:GetPostCommentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <wsdl:input message="tns:AddCommentDetailsHttpGetIn" />
      <wsdl:output message="tns:AddCommentDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <wsdl:input message="tns:IsCommentExistHttpGetIn" />
      <wsdl:output message="tns:IsCommentExistHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <wsdl:input message="tns:UpdateFbPageCommentStatusHttpGetIn" />
      <wsdl:output message="tns:UpdateFbPageCommentStatusHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FbPageCommentHttpPost">
    <wsdl:operation name="GetPostComments">
      <wsdl:input message="tns:GetPostCommentsHttpPostIn" />
      <wsdl:output message="tns:GetPostCommentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <wsdl:input message="tns:AddCommentDetailsHttpPostIn" />
      <wsdl:output message="tns:AddCommentDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <wsdl:input message="tns:IsCommentExistHttpPostIn" />
      <wsdl:output message="tns:IsCommentExistHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <wsdl:input message="tns:UpdateFbPageCommentStatusHttpPostIn" />
      <wsdl:output message="tns:UpdateFbPageCommentStatusHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FbPageCommentSoap" type="tns:FbPageCommentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostComments">
      <soap:operation soapAction="http://tempuri.org/GetPostComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <soap:operation soapAction="http://tempuri.org/AddCommentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <soap:operation soapAction="http://tempuri.org/IsCommentExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateFbPageCommentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPageCommentSoap12" type="tns:FbPageCommentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostComments">
      <soap12:operation soapAction="http://tempuri.org/GetPostComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <soap12:operation soapAction="http://tempuri.org/AddCommentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <soap12:operation soapAction="http://tempuri.org/IsCommentExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateFbPageCommentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPageCommentHttpGet" type="tns:FbPageCommentHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPostComments">
      <http:operation location="/GetPostComments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <http:operation location="/AddCommentDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <http:operation location="/IsCommentExist" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <http:operation location="/UpdateFbPageCommentStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPageCommentHttpPost" type="tns:FbPageCommentHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPostComments">
      <http:operation location="/GetPostComments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommentDetails">
      <http:operation location="/AddCommentDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommentExist">
      <http:operation location="/IsCommentExist" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPageCommentStatus">
      <http:operation location="/UpdateFbPageCommentStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FbPageComment">
    <wsdl:port name="FbPageCommentSoap" binding="tns:FbPageCommentSoap">
      <soap:address location="http://devapi.socioboard.com/Services/FbPageComment.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPageCommentSoap12" binding="tns:FbPageCommentSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/FbPageComment.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPageCommentHttpGet" binding="tns:FbPageCommentHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/FbPageComment.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPageCommentHttpPost" binding="tns:FbPageCommentHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/FbPageComment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>