SocioBoard/Socioboard/Web References/Api.FacebookMessage/FacebookMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserHomeWithLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FacebookId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHomeWithLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserHomeWithLimitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FacebookId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserHomeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookMessagesOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookMessagesOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookMessagesOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllSentMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllSentMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllSentMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllWallpostsOfProfileAccordingtoGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllWallpostsOfProfileAccordingtoGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllWallpostsOfProfileAccordingtoGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookMessagesOfUserByProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookMessagesOfUserByProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookMessagesOfUserByProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserHomeWithLimitSoapIn">
    <wsdl:part name="parameters" element="tns:UserHomeWithLimit" />
  </wsdl:message>
  <wsdl:message name="UserHomeWithLimitSoapOut">
    <wsdl:part name="parameters" element="tns:UserHomeWithLimitResponse" />
  </wsdl:message>
  <wsdl:message name="UserHomeSoapIn">
    <wsdl:part name="parameters" element="tns:UserHome" />
  </wsdl:message>
  <wsdl:message name="UserHomeSoapOut">
    <wsdl:part name="parameters" element="tns:UserHomeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookMessagesOfUser" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookMessagesOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="getAllSentMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllSentMessages" />
  </wsdl:message>
  <wsdl:message name="getAllSentMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllSentMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllWallpostsOfProfileAccordingtoGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllWallpostsOfProfileAccordingtoGroup" />
  </wsdl:message>
  <wsdl:message name="GetAllWallpostsOfProfileAccordingtoGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllWallpostsOfProfileAccordingtoGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserByProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookMessagesOfUserByProfileId" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserByProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookMessagesOfUserByProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserHomeWithLimitHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FacebookId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeWithLimitHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FacebookId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllSentMessagesHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllSentMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllWallpostsOfProfileAccordingtoGroupHttpGetIn">
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="count" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllWallpostsOfProfileAccordingtoGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserByProfileIdHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserByProfileIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeWithLimitHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FacebookId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeWithLimitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FacebookId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserHomeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllSentMessagesHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllSentMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllWallpostsOfProfileAccordingtoGroupHttpPostIn">
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="count" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllWallpostsOfProfileAccordingtoGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserByProfileIdHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookMessagesOfUserByProfileIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FacebookMessageSoap">
    <wsdl:operation name="UserHomeWithLimit">
      <wsdl:input message="tns:UserHomeWithLimitSoapIn" />
      <wsdl:output message="tns:UserHomeWithLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <wsdl:input message="tns:UserHomeSoapIn" />
      <wsdl:output message="tns:UserHomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <wsdl:input message="tns:getAllFacebookMessagesOfUserSoapIn" />
      <wsdl:output message="tns:getAllFacebookMessagesOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <wsdl:input message="tns:getAllSentMessagesSoapIn" />
      <wsdl:output message="tns:getAllSentMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <wsdl:input message="tns:GetAllWallpostsOfProfileAccordingtoGroupSoapIn" />
      <wsdl:output message="tns:GetAllWallpostsOfProfileAccordingtoGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <wsdl:input message="tns:getAllFacebookMessagesOfUserByProfileIdSoapIn" />
      <wsdl:output message="tns:getAllFacebookMessagesOfUserByProfileIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookMessageHttpGet">
    <wsdl:operation name="UserHomeWithLimit">
      <wsdl:input message="tns:UserHomeWithLimitHttpGetIn" />
      <wsdl:output message="tns:UserHomeWithLimitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <wsdl:input message="tns:UserHomeHttpGetIn" />
      <wsdl:output message="tns:UserHomeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <wsdl:input message="tns:getAllFacebookMessagesOfUserHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookMessagesOfUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <wsdl:input message="tns:getAllSentMessagesHttpGetIn" />
      <wsdl:output message="tns:getAllSentMessagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <wsdl:input message="tns:GetAllWallpostsOfProfileAccordingtoGroupHttpGetIn" />
      <wsdl:output message="tns:GetAllWallpostsOfProfileAccordingtoGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <wsdl:input message="tns:getAllFacebookMessagesOfUserByProfileIdHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookMessagesOfUserByProfileIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookMessageHttpPost">
    <wsdl:operation name="UserHomeWithLimit">
      <wsdl:input message="tns:UserHomeWithLimitHttpPostIn" />
      <wsdl:output message="tns:UserHomeWithLimitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <wsdl:input message="tns:UserHomeHttpPostIn" />
      <wsdl:output message="tns:UserHomeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <wsdl:input message="tns:getAllFacebookMessagesOfUserHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookMessagesOfUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <wsdl:input message="tns:getAllSentMessagesHttpPostIn" />
      <wsdl:output message="tns:getAllSentMessagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <wsdl:input message="tns:GetAllWallpostsOfProfileAccordingtoGroupHttpPostIn" />
      <wsdl:output message="tns:GetAllWallpostsOfProfileAccordingtoGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <wsdl:input message="tns:getAllFacebookMessagesOfUserByProfileIdHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookMessagesOfUserByProfileIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacebookMessageSoap" type="tns:FacebookMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserHomeWithLimit">
      <soap:operation soapAction="http://tempuri.org/UserHomeWithLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <soap:operation soapAction="http://tempuri.org/UserHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookMessagesOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <soap:operation soapAction="http://tempuri.org/getAllSentMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <soap:operation soapAction="http://tempuri.org/GetAllWallpostsOfProfileAccordingtoGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookMessagesOfUserByProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookMessageSoap12" type="tns:FacebookMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserHomeWithLimit">
      <soap12:operation soapAction="http://tempuri.org/UserHomeWithLimit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <soap12:operation soapAction="http://tempuri.org/UserHome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookMessagesOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <soap12:operation soapAction="http://tempuri.org/getAllSentMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <soap12:operation soapAction="http://tempuri.org/GetAllWallpostsOfProfileAccordingtoGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookMessagesOfUserByProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookMessageHttpGet" type="tns:FacebookMessageHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UserHomeWithLimit">
      <http:operation location="/UserHomeWithLimit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <http:operation location="/UserHome" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <http:operation location="/getAllFacebookMessagesOfUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <http:operation location="/getAllSentMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <http:operation location="/GetAllWallpostsOfProfileAccordingtoGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <http:operation location="/getAllFacebookMessagesOfUserByProfileId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookMessageHttpPost" type="tns:FacebookMessageHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UserHomeWithLimit">
      <http:operation location="/UserHomeWithLimit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHome">
      <http:operation location="/UserHome" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUser">
      <http:operation location="/getAllFacebookMessagesOfUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSentMessages">
      <http:operation location="/getAllSentMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWallpostsOfProfileAccordingtoGroup">
      <http:operation location="/GetAllWallpostsOfProfileAccordingtoGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookMessagesOfUserByProfileId">
      <http:operation location="/getAllFacebookMessagesOfUserByProfileId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacebookMessage">
    <wsdl:port name="FacebookMessageSoap" binding="tns:FacebookMessageSoap">
      <soap:address location="http://localhost:6361/Services/FacebookMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookMessageSoap12" binding="tns:FacebookMessageSoap12">
      <soap12:address location="http://localhost:6361/Services/FacebookMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookMessageHttpGet" binding="tns:FacebookMessageHttpGet">
      <http:address location="http://localhost:6361/Services/FacebookMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookMessageHttpPost" binding="tns:FacebookMessageHttpPost">
      <http:address location="http://localhost:6361/Services/FacebookMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>