SocioBoard/Socioboard/Web References/Api.Affiliates/Affiliates.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAffiliateDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FriendsUserId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AffiliateDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAffiliateDetailResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAffilieteDetailbyUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FriendsUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAffilieteDetailbyUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAffilieteDetailbyUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAffilieteDetailbyUserIdTrans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAffilieteDetailbyUserIdTransResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAffilieteDetailbyUserIdTransResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequestToWithdraw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WithdrawAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaypalEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IbanCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SwiftCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Other" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequestToWithdrawResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRequestToWithdrawResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEwalletWithdraw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEwalletWithdrawResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEwalletWithdrawResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEwalletWithdraw">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEwalletWithdrawResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEwalletWithdrawResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaymentStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaymentStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePaymentStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAffiliateDetailSoapIn">
    <wsdl:part name="parameters" element="tns:AddAffiliateDetail" />
  </wsdl:message>
  <wsdl:message name="AddAffiliateDetailSoapOut">
    <wsdl:part name="parameters" element="tns:AddAffiliateDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAffilieteDetailbyUserId" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAffilieteDetailbyUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdTransSoapIn">
    <wsdl:part name="parameters" element="tns:GetAffilieteDetailbyUserIdTrans" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdTransSoapOut">
    <wsdl:part name="parameters" element="tns:GetAffilieteDetailbyUserIdTransResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequestToWithdrawSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequestToWithdraw" />
  </wsdl:message>
  <wsdl:message name="AddRequestToWithdrawSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequestToWithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="GetEwalletWithdrawSoapIn">
    <wsdl:part name="parameters" element="tns:GetEwalletWithdraw" />
  </wsdl:message>
  <wsdl:message name="GetEwalletWithdrawSoapOut">
    <wsdl:part name="parameters" element="tns:GetEwalletWithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEwalletWithdrawSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEwalletWithdraw" />
  </wsdl:message>
  <wsdl:message name="GetAllEwalletWithdrawSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEwalletWithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePaymentStatus" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePaymentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="AddAffiliateDetailHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FriendsUserId" type="s:string" />
    <wsdl:part name="AffiliateDate" type="s:string" />
    <wsdl:part name="Amount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAffiliateDetailHttpGetOut" />
  <wsdl:message name="GetAffilieteDetailbyUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FriendsUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdTransHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdTransHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddRequestToWithdrawHttpGetIn">
    <wsdl:part name="WithdrawAmount" type="s:string" />
    <wsdl:part name="PaymentMethod" type="s:string" />
    <wsdl:part name="PaypalEmail" type="s:string" />
    <wsdl:part name="IbanCode" type="s:string" />
    <wsdl:part name="SwiftCode" type="s:string" />
    <wsdl:part name="Other" type="s:string" />
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddRequestToWithdrawHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEwalletWithdrawHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEwalletWithdrawHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllEwalletWithdrawHttpGetIn" />
  <wsdl:message name="GetAllEwalletWithdrawHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentStatusHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddAffiliateDetailHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FriendsUserId" type="s:string" />
    <wsdl:part name="AffiliateDate" type="s:string" />
    <wsdl:part name="Amount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAffiliateDetailHttpPostOut" />
  <wsdl:message name="GetAffilieteDetailbyUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FriendsUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdTransHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAffilieteDetailbyUserIdTransHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddRequestToWithdrawHttpPostIn">
    <wsdl:part name="WithdrawAmount" type="s:string" />
    <wsdl:part name="PaymentMethod" type="s:string" />
    <wsdl:part name="PaypalEmail" type="s:string" />
    <wsdl:part name="IbanCode" type="s:string" />
    <wsdl:part name="SwiftCode" type="s:string" />
    <wsdl:part name="Other" type="s:string" />
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddRequestToWithdrawHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEwalletWithdrawHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEwalletWithdrawHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllEwalletWithdrawHttpPostIn" />
  <wsdl:message name="GetAllEwalletWithdrawHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentStatusHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="AffiliatesSoap">
    <wsdl:operation name="AddAffiliateDetail">
      <wsdl:input message="tns:AddAffiliateDetailSoapIn" />
      <wsdl:output message="tns:AddAffiliateDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <wsdl:input message="tns:GetAffilieteDetailbyUserIdSoapIn" />
      <wsdl:output message="tns:GetAffilieteDetailbyUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <wsdl:input message="tns:GetAffilieteDetailbyUserIdTransSoapIn" />
      <wsdl:output message="tns:GetAffilieteDetailbyUserIdTransSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <wsdl:input message="tns:AddRequestToWithdrawSoapIn" />
      <wsdl:output message="tns:AddRequestToWithdrawSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <wsdl:input message="tns:GetEwalletWithdrawSoapIn" />
      <wsdl:output message="tns:GetEwalletWithdrawSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <wsdl:input message="tns:GetAllEwalletWithdrawSoapIn" />
      <wsdl:output message="tns:GetAllEwalletWithdrawSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <wsdl:input message="tns:UpdatePaymentStatusSoapIn" />
      <wsdl:output message="tns:UpdatePaymentStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AffiliatesHttpGet">
    <wsdl:operation name="AddAffiliateDetail">
      <wsdl:input message="tns:AddAffiliateDetailHttpGetIn" />
      <wsdl:output message="tns:AddAffiliateDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <wsdl:input message="tns:GetAffilieteDetailbyUserIdHttpGetIn" />
      <wsdl:output message="tns:GetAffilieteDetailbyUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <wsdl:input message="tns:GetAffilieteDetailbyUserIdTransHttpGetIn" />
      <wsdl:output message="tns:GetAffilieteDetailbyUserIdTransHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <wsdl:input message="tns:AddRequestToWithdrawHttpGetIn" />
      <wsdl:output message="tns:AddRequestToWithdrawHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <wsdl:input message="tns:GetEwalletWithdrawHttpGetIn" />
      <wsdl:output message="tns:GetEwalletWithdrawHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <wsdl:input message="tns:GetAllEwalletWithdrawHttpGetIn" />
      <wsdl:output message="tns:GetAllEwalletWithdrawHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <wsdl:input message="tns:UpdatePaymentStatusHttpGetIn" />
      <wsdl:output message="tns:UpdatePaymentStatusHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AffiliatesHttpPost">
    <wsdl:operation name="AddAffiliateDetail">
      <wsdl:input message="tns:AddAffiliateDetailHttpPostIn" />
      <wsdl:output message="tns:AddAffiliateDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <wsdl:input message="tns:GetAffilieteDetailbyUserIdHttpPostIn" />
      <wsdl:output message="tns:GetAffilieteDetailbyUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <wsdl:input message="tns:GetAffilieteDetailbyUserIdTransHttpPostIn" />
      <wsdl:output message="tns:GetAffilieteDetailbyUserIdTransHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <wsdl:input message="tns:AddRequestToWithdrawHttpPostIn" />
      <wsdl:output message="tns:AddRequestToWithdrawHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <wsdl:input message="tns:GetEwalletWithdrawHttpPostIn" />
      <wsdl:output message="tns:GetEwalletWithdrawHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <wsdl:input message="tns:GetAllEwalletWithdrawHttpPostIn" />
      <wsdl:output message="tns:GetAllEwalletWithdrawHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <wsdl:input message="tns:UpdatePaymentStatusHttpPostIn" />
      <wsdl:output message="tns:UpdatePaymentStatusHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AffiliatesSoap" type="tns:AffiliatesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAffiliateDetail">
      <soap:operation soapAction="http://tempuri.org/AddAffiliateDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <soap:operation soapAction="http://tempuri.org/GetAffilieteDetailbyUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <soap:operation soapAction="http://tempuri.org/GetAffilieteDetailbyUserIdTrans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <soap:operation soapAction="http://tempuri.org/AddRequestToWithdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <soap:operation soapAction="http://tempuri.org/GetEwalletWithdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <soap:operation soapAction="http://tempuri.org/GetAllEwalletWithdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <soap:operation soapAction="http://tempuri.org/UpdatePaymentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AffiliatesSoap12" type="tns:AffiliatesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAffiliateDetail">
      <soap12:operation soapAction="http://tempuri.org/AddAffiliateDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <soap12:operation soapAction="http://tempuri.org/GetAffilieteDetailbyUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <soap12:operation soapAction="http://tempuri.org/GetAffilieteDetailbyUserIdTrans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <soap12:operation soapAction="http://tempuri.org/AddRequestToWithdraw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <soap12:operation soapAction="http://tempuri.org/GetEwalletWithdraw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <soap12:operation soapAction="http://tempuri.org/GetAllEwalletWithdraw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdatePaymentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AffiliatesHttpGet" type="tns:AffiliatesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddAffiliateDetail">
      <http:operation location="/AddAffiliateDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <http:operation location="/GetAffilieteDetailbyUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <http:operation location="/GetAffilieteDetailbyUserIdTrans" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <http:operation location="/AddRequestToWithdraw" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <http:operation location="/GetEwalletWithdraw" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <http:operation location="/GetAllEwalletWithdraw" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <http:operation location="/UpdatePaymentStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AffiliatesHttpPost" type="tns:AffiliatesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddAffiliateDetail">
      <http:operation location="/AddAffiliateDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserId">
      <http:operation location="/GetAffilieteDetailbyUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffilieteDetailbyUserIdTrans">
      <http:operation location="/GetAffilieteDetailbyUserIdTrans" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequestToWithdraw">
      <http:operation location="/AddRequestToWithdraw" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEwalletWithdraw">
      <http:operation location="/GetEwalletWithdraw" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEwalletWithdraw">
      <http:operation location="/GetAllEwalletWithdraw" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentStatus">
      <http:operation location="/UpdatePaymentStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Affiliates">
    <wsdl:port name="AffiliatesSoap" binding="tns:AffiliatesSoap">
      <soap:address location="http://localhost:6361/services/Affiliates.asmx" />
    </wsdl:port>
    <wsdl:port name="AffiliatesSoap12" binding="tns:AffiliatesSoap12">
      <soap12:address location="http://localhost:6361/services/Affiliates.asmx" />
    </wsdl:port>
    <wsdl:port name="AffiliatesHttpGet" binding="tns:AffiliatesHttpGet">
      <http:address location="http://localhost:6361/services/Affiliates.asmx" />
    </wsdl:port>
    <wsdl:port name="AffiliatesHttpPost" binding="tns:AffiliatesHttpPost">
      <http:address location="http://localhost:6361/services/Affiliates.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>