SocioBoard/Socioboard/Web References/Api.DiscoverySearch/DiscoverySearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DiscoverySearchFacebook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiscoverySearchFacebookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DiscoverySearchFacebookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiscoverySearchTwitter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiscoverySearchTwitterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DiscoverySearchTwitterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contactSearchFacebook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contactSearchFacebookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contactSearchFacebookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contactSearchTwitter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contactSearchTwitterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contactSearchTwitterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllSearchKeywords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllSearchKeywordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllSearchKeywordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DiscoverySearchFacebookSoapIn">
    <wsdl:part name="parameters" element="tns:DiscoverySearchFacebook" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchFacebookSoapOut">
    <wsdl:part name="parameters" element="tns:DiscoverySearchFacebookResponse" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchTwitterSoapIn">
    <wsdl:part name="parameters" element="tns:DiscoverySearchTwitter" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchTwitterSoapOut">
    <wsdl:part name="parameters" element="tns:DiscoverySearchTwitterResponse" />
  </wsdl:message>
  <wsdl:message name="contactSearchFacebookSoapIn">
    <wsdl:part name="parameters" element="tns:contactSearchFacebook" />
  </wsdl:message>
  <wsdl:message name="contactSearchFacebookSoapOut">
    <wsdl:part name="parameters" element="tns:contactSearchFacebookResponse" />
  </wsdl:message>
  <wsdl:message name="contactSearchTwitterSoapIn">
    <wsdl:part name="parameters" element="tns:contactSearchTwitter" />
  </wsdl:message>
  <wsdl:message name="contactSearchTwitterSoapOut">
    <wsdl:part name="parameters" element="tns:contactSearchTwitterResponse" />
  </wsdl:message>
  <wsdl:message name="getAllSearchKeywordsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllSearchKeywords" />
  </wsdl:message>
  <wsdl:message name="getAllSearchKeywordsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllSearchKeywordsResponse" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchFacebookHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchFacebookHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchTwitterHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchTwitterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchFacebookHttpGetIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchFacebookHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchTwitterHttpGetIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchTwitterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllSearchKeywordsHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllSearchKeywordsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchFacebookHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchFacebookHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchTwitterHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DiscoverySearchTwitterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchFacebookHttpPostIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchFacebookHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchTwitterHttpPostIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="contactSearchTwitterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllSearchKeywordsHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllSearchKeywordsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DiscoverySearchSoap">
    <wsdl:operation name="DiscoverySearchFacebook">
      <wsdl:input message="tns:DiscoverySearchFacebookSoapIn" />
      <wsdl:output message="tns:DiscoverySearchFacebookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <wsdl:input message="tns:DiscoverySearchTwitterSoapIn" />
      <wsdl:output message="tns:DiscoverySearchTwitterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <wsdl:input message="tns:contactSearchFacebookSoapIn" />
      <wsdl:output message="tns:contactSearchFacebookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <wsdl:input message="tns:contactSearchTwitterSoapIn" />
      <wsdl:output message="tns:contactSearchTwitterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <wsdl:input message="tns:getAllSearchKeywordsSoapIn" />
      <wsdl:output message="tns:getAllSearchKeywordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DiscoverySearchHttpGet">
    <wsdl:operation name="DiscoverySearchFacebook">
      <wsdl:input message="tns:DiscoverySearchFacebookHttpGetIn" />
      <wsdl:output message="tns:DiscoverySearchFacebookHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <wsdl:input message="tns:DiscoverySearchTwitterHttpGetIn" />
      <wsdl:output message="tns:DiscoverySearchTwitterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <wsdl:input message="tns:contactSearchFacebookHttpGetIn" />
      <wsdl:output message="tns:contactSearchFacebookHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <wsdl:input message="tns:contactSearchTwitterHttpGetIn" />
      <wsdl:output message="tns:contactSearchTwitterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <wsdl:input message="tns:getAllSearchKeywordsHttpGetIn" />
      <wsdl:output message="tns:getAllSearchKeywordsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DiscoverySearchHttpPost">
    <wsdl:operation name="DiscoverySearchFacebook">
      <wsdl:input message="tns:DiscoverySearchFacebookHttpPostIn" />
      <wsdl:output message="tns:DiscoverySearchFacebookHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <wsdl:input message="tns:DiscoverySearchTwitterHttpPostIn" />
      <wsdl:output message="tns:DiscoverySearchTwitterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <wsdl:input message="tns:contactSearchFacebookHttpPostIn" />
      <wsdl:output message="tns:contactSearchFacebookHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <wsdl:input message="tns:contactSearchTwitterHttpPostIn" />
      <wsdl:output message="tns:contactSearchTwitterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <wsdl:input message="tns:getAllSearchKeywordsHttpPostIn" />
      <wsdl:output message="tns:getAllSearchKeywordsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiscoverySearchSoap" type="tns:DiscoverySearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DiscoverySearchFacebook">
      <soap:operation soapAction="http://tempuri.org/DiscoverySearchFacebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <soap:operation soapAction="http://tempuri.org/DiscoverySearchTwitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <soap:operation soapAction="http://tempuri.org/contactSearchFacebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <soap:operation soapAction="http://tempuri.org/contactSearchTwitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <soap:operation soapAction="http://tempuri.org/getAllSearchKeywords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiscoverySearchSoap12" type="tns:DiscoverySearchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DiscoverySearchFacebook">
      <soap12:operation soapAction="http://tempuri.org/DiscoverySearchFacebook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <soap12:operation soapAction="http://tempuri.org/DiscoverySearchTwitter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <soap12:operation soapAction="http://tempuri.org/contactSearchFacebook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <soap12:operation soapAction="http://tempuri.org/contactSearchTwitter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <soap12:operation soapAction="http://tempuri.org/getAllSearchKeywords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiscoverySearchHttpGet" type="tns:DiscoverySearchHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DiscoverySearchFacebook">
      <http:operation location="/DiscoverySearchFacebook" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <http:operation location="/DiscoverySearchTwitter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <http:operation location="/contactSearchFacebook" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <http:operation location="/contactSearchTwitter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <http:operation location="/getAllSearchKeywords" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiscoverySearchHttpPost" type="tns:DiscoverySearchHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DiscoverySearchFacebook">
      <http:operation location="/DiscoverySearchFacebook" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiscoverySearchTwitter">
      <http:operation location="/DiscoverySearchTwitter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchFacebook">
      <http:operation location="/contactSearchFacebook" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactSearchTwitter">
      <http:operation location="/contactSearchTwitter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSearchKeywords">
      <http:operation location="/getAllSearchKeywords" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiscoverySearch">
    <wsdl:port name="DiscoverySearchSoap" binding="tns:DiscoverySearchSoap">
      <soap:address location="http://devapi.socioboard.com/Services/DiscoverySearch.asmx" />
    </wsdl:port>
    <wsdl:port name="DiscoverySearchSoap12" binding="tns:DiscoverySearchSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/DiscoverySearch.asmx" />
    </wsdl:port>
    <wsdl:port name="DiscoverySearchHttpGet" binding="tns:DiscoverySearchHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/DiscoverySearch.asmx" />
    </wsdl:port>
    <wsdl:port name="DiscoverySearchHttpPost" binding="tns:DiscoverySearchHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/DiscoverySearch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>