SocioBoard/Socioboard/Web References/Api.FbPageLiker/FbPageLiker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLikeByPostId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLikeByPostIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLikeByPostIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLikeByPostIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLikeByPostId" />
  </wsdl:message>
  <wsdl:message name="GetLikeByPostIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLikeByPostIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLikeByPostIdHttpGetIn">
    <wsdl:part name="postId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLikeByPostIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLikeByPostIdHttpPostIn">
    <wsdl:part name="postId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLikeByPostIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FbPageLikerSoap">
    <wsdl:operation name="GetLikeByPostId">
      <wsdl:input message="tns:GetLikeByPostIdSoapIn" />
      <wsdl:output message="tns:GetLikeByPostIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FbPageLikerHttpGet">
    <wsdl:operation name="GetLikeByPostId">
      <wsdl:input message="tns:GetLikeByPostIdHttpGetIn" />
      <wsdl:output message="tns:GetLikeByPostIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FbPageLikerHttpPost">
    <wsdl:operation name="GetLikeByPostId">
      <wsdl:input message="tns:GetLikeByPostIdHttpPostIn" />
      <wsdl:output message="tns:GetLikeByPostIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FbPageLikerSoap" type="tns:FbPageLikerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLikeByPostId">
      <soap:operation soapAction="http://tempuri.org/GetLikeByPostId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPageLikerSoap12" type="tns:FbPageLikerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLikeByPostId">
      <soap12:operation soapAction="http://tempuri.org/GetLikeByPostId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPageLikerHttpGet" type="tns:FbPageLikerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetLikeByPostId">
      <http:operation location="/GetLikeByPostId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPageLikerHttpPost" type="tns:FbPageLikerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetLikeByPostId">
      <http:operation location="/GetLikeByPostId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FbPageLiker">
    <wsdl:port name="FbPageLikerSoap" binding="tns:FbPageLikerSoap">
      <soap:address location="http://localhost:6361/Services/FbPageLiker.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPageLikerSoap12" binding="tns:FbPageLikerSoap12">
      <soap12:address location="http://localhost:6361/Services/FbPageLiker.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPageLikerHttpGet" binding="tns:FbPageLikerHttpGet">
      <http:address location="http://localhost:6361/Services/FbPageLiker.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPageLikerHttpPost" binding="tns:FbPageLikerHttpPost">
      <http:address location="http://localhost:6361/Services/FbPageLiker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>