SocioBoard/SocioboardDataServices/Web References/Api.Facebook/Facebook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Iski">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IskiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IskiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFacebookAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FbId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFbGroupdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accestoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFbGroupdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFbGroupdataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookLike">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msgguid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookLikeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacebookLikeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commentid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacebookCommentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostOnFBGroupFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ack" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostOnFBGroupFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOnFBGroupFeedsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookComposeMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentdatetime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagepath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookComposeMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacebookComposeMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="redirecturl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacebookLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheduleFacebookMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacebookId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sscheduledmsgguid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheduleFacebookMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SheduleFacebookMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookPages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookPagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookPagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookPagesInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookPagesInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFacebookPagesInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookGroupsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookGroupsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbgroupid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbgroupname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookGroupsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFacebookGroupsInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentOnFbGroupPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GpPostid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Accesstoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentOnFbGroupPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommentOnFbGroupPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFbPagePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesstoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFbPagePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFbPagePostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFbPagePostDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFbPagePostDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFbPagePostDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookPagesByUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookPagesByUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFacebookPagesByUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFbPageDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFbPageDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFbPageDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookProfileDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacebookProfileDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacebookProfileDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAllFbPagePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesstoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAllFbPagePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAllFbPagePostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IskiSoapIn">
    <wsdl:part name="parameters" element="tns:Iski" />
  </wsdl:message>
  <wsdl:message name="IskiSoapOut">
    <wsdl:part name="parameters" element="tns:IskiResponse" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddFacebookAccount" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddFacebookAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacebookDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookData" />
  </wsdl:message>
  <wsdl:message name="GetFacebookDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFbGroupdataSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFbGroupdata" />
  </wsdl:message>
  <wsdl:message name="GetAllFbGroupdataSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFbGroupdataResponse" />
  </wsdl:message>
  <wsdl:message name="FacebookLikeSoapIn">
    <wsdl:part name="parameters" element="tns:FacebookLike" />
  </wsdl:message>
  <wsdl:message name="FacebookLikeSoapOut">
    <wsdl:part name="parameters" element="tns:FacebookLikeResponse" />
  </wsdl:message>
  <wsdl:message name="FacebookCommentSoapIn">
    <wsdl:part name="parameters" element="tns:FacebookComment" />
  </wsdl:message>
  <wsdl:message name="FacebookCommentSoapOut">
    <wsdl:part name="parameters" element="tns:FacebookCommentResponse" />
  </wsdl:message>
  <wsdl:message name="PostOnFBGroupFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:PostOnFBGroupFeeds" />
  </wsdl:message>
  <wsdl:message name="PostOnFBGroupFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:PostOnFBGroupFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="FacebookComposeMessageSoapIn">
    <wsdl:part name="parameters" element="tns:FacebookComposeMessage" />
  </wsdl:message>
  <wsdl:message name="FacebookComposeMessageSoapOut">
    <wsdl:part name="parameters" element="tns:FacebookComposeMessageResponse" />
  </wsdl:message>
  <wsdl:message name="FacebookLoginSoapIn">
    <wsdl:part name="parameters" element="tns:FacebookLogin" />
  </wsdl:message>
  <wsdl:message name="FacebookLoginSoapOut">
    <wsdl:part name="parameters" element="tns:FacebookLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SheduleFacebookMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SheduleFacebookMessage" />
  </wsdl:message>
  <wsdl:message name="SheduleFacebookMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SheduleFacebookMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacebookPagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookPages" />
  </wsdl:message>
  <wsdl:message name="GetFacebookPagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookPagesResponse" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddFacebookPagesInfo" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddFacebookPagesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacebookGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookGroups" />
  </wsdl:message>
  <wsdl:message name="GetFacebookGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="AddFacebookGroupsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddFacebookGroupsInfo" />
  </wsdl:message>
  <wsdl:message name="AddFacebookGroupsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddFacebookGroupsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CommentOnFbGroupPostSoapIn">
    <wsdl:part name="parameters" element="tns:CommentOnFbGroupPost" />
  </wsdl:message>
  <wsdl:message name="CommentOnFbGroupPostSoapOut">
    <wsdl:part name="parameters" element="tns:CommentOnFbGroupPostResponse" />
  </wsdl:message>
  <wsdl:message name="AddFbPagePostSoapIn">
    <wsdl:part name="parameters" element="tns:AddFbPagePost" />
  </wsdl:message>
  <wsdl:message name="AddFbPagePostSoapOut">
    <wsdl:part name="parameters" element="tns:AddFbPagePostResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFbPagePostDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFbPagePostDetails" />
  </wsdl:message>
  <wsdl:message name="GetAllFbPagePostDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFbPagePostDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesByUrlSoapIn">
    <wsdl:part name="parameters" element="tns:AddFacebookPagesByUrl" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesByUrlSoapOut">
    <wsdl:part name="parameters" element="tns:AddFacebookPagesByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetFbPageDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFbPageDetails" />
  </wsdl:message>
  <wsdl:message name="GetFbPageDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFbPageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="FacebookProfileDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:FacebookProfileDetails" />
  </wsdl:message>
  <wsdl:message name="FacebookProfileDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:FacebookProfileDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddAllFbPagePostSoapIn">
    <wsdl:part name="parameters" element="tns:AddAllFbPagePost" />
  </wsdl:message>
  <wsdl:message name="AddAllFbPagePostSoapOut">
    <wsdl:part name="parameters" element="tns:AddAllFbPagePostResponse" />
  </wsdl:message>
  <wsdl:message name="IskiHttpGetIn">
    <wsdl:part name="code" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IskiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountHttpGetIn">
    <wsdl:part name="code" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookDataHttpGetIn">
    <wsdl:part name="FbId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbGroupdataHttpGetIn">
    <wsdl:part name="groupid" type="s:string" />
    <wsdl:part name="accestoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbGroupdataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLikeHttpGetIn">
    <wsdl:part name="msgguid" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="msgid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLikeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookCommentHttpGetIn">
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="commentid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookCommentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PostOnFBGroupFeedsHttpGetIn">
    <wsdl:part name="gid" type="s:string" />
    <wsdl:part name="ack" type="s:string" />
    <wsdl:part name="msg" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostOnFBGroupFeedsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookComposeMessageHttpGetIn">
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="currentdatetime" type="s:string" />
    <wsdl:part name="imagepath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookComposeMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLoginHttpGetIn">
    <wsdl:part name="code" type="s:string" />
    <wsdl:part name="redirecturl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SheduleFacebookMessageHttpGetIn">
    <wsdl:part name="FacebookId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="sscheduledmsgguid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SheduleFacebookMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookPagesHttpGetIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookPagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesInfoHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="profileId" type="s:string" />
    <wsdl:part name="accessToken" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookGroupsHttpGetIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookGroupsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookGroupsInfoHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="fbgroupid" type="s:string" />
    <wsdl:part name="accessToken" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="fbgroupname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookGroupsInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CommentOnFbGroupPostHttpGetIn">
    <wsdl:part name="GpPostid" type="s:string" />
    <wsdl:part name="comment" type="s:string" />
    <wsdl:part name="Accesstoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CommentOnFbGroupPostHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFbPagePostHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="accesstoken" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFbPagePostHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbPagePostDetailsHttpGetIn">
    <wsdl:part name="pageid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbPagePostDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesByUrlHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="profileId" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesByUrlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFbPageDetailsHttpGetIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFbPageDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookProfileDetailsHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookProfileDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddAllFbPagePostHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="accesstoken" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAllFbPagePostHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IskiHttpPostIn">
    <wsdl:part name="code" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IskiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountHttpPostIn">
    <wsdl:part name="code" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookDataHttpPostIn">
    <wsdl:part name="FbId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbGroupdataHttpPostIn">
    <wsdl:part name="groupid" type="s:string" />
    <wsdl:part name="accestoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbGroupdataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLikeHttpPostIn">
    <wsdl:part name="msgguid" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="msgid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLikeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookCommentHttpPostIn">
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="commentid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookCommentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PostOnFBGroupFeedsHttpPostIn">
    <wsdl:part name="gid" type="s:string" />
    <wsdl:part name="ack" type="s:string" />
    <wsdl:part name="msg" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostOnFBGroupFeedsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookComposeMessageHttpPostIn">
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="currentdatetime" type="s:string" />
    <wsdl:part name="imagepath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookComposeMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLoginHttpPostIn">
    <wsdl:part name="code" type="s:string" />
    <wsdl:part name="redirecturl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SheduleFacebookMessageHttpPostIn">
    <wsdl:part name="FacebookId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="sscheduledmsgguid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SheduleFacebookMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookPagesHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookPagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesInfoHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="profileId" type="s:string" />
    <wsdl:part name="accessToken" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookGroupsHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookGroupsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookGroupsInfoHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="fbgroupid" type="s:string" />
    <wsdl:part name="accessToken" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="fbgroupname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookGroupsInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CommentOnFbGroupPostHttpPostIn">
    <wsdl:part name="GpPostid" type="s:string" />
    <wsdl:part name="comment" type="s:string" />
    <wsdl:part name="Accesstoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CommentOnFbGroupPostHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFbPagePostHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="accesstoken" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFbPagePostHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbPagePostDetailsHttpPostIn">
    <wsdl:part name="pageid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllFbPagePostDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesByUrlHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="profileId" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddFacebookPagesByUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFbPageDetailsHttpPostIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFbPageDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FacebookProfileDetailsHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacebookProfileDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddAllFbPagePostHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="accesstoken" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAllFbPagePostHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FacebookSoap">
    <wsdl:operation name="Iski">
      <wsdl:input message="tns:IskiSoapIn" />
      <wsdl:output message="tns:IskiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <wsdl:input message="tns:AddFacebookAccountSoapIn" />
      <wsdl:output message="tns:AddFacebookAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <wsdl:input message="tns:GetFacebookDataSoapIn" />
      <wsdl:output message="tns:GetFacebookDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <wsdl:input message="tns:GetAllFbGroupdataSoapIn" />
      <wsdl:output message="tns:GetAllFbGroupdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <wsdl:input message="tns:FacebookLikeSoapIn" />
      <wsdl:output message="tns:FacebookLikeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <wsdl:input message="tns:FacebookCommentSoapIn" />
      <wsdl:output message="tns:FacebookCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <wsdl:input message="tns:PostOnFBGroupFeedsSoapIn" />
      <wsdl:output message="tns:PostOnFBGroupFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <wsdl:input message="tns:FacebookComposeMessageSoapIn" />
      <wsdl:output message="tns:FacebookComposeMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <wsdl:input message="tns:FacebookLoginSoapIn" />
      <wsdl:output message="tns:FacebookLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <wsdl:input message="tns:SheduleFacebookMessageSoapIn" />
      <wsdl:output message="tns:SheduleFacebookMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <wsdl:input message="tns:GetFacebookPagesSoapIn" />
      <wsdl:output message="tns:GetFacebookPagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <wsdl:input message="tns:AddFacebookPagesInfoSoapIn" />
      <wsdl:output message="tns:AddFacebookPagesInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <wsdl:input message="tns:GetFacebookGroupsSoapIn" />
      <wsdl:output message="tns:GetFacebookGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <wsdl:input message="tns:AddFacebookGroupsInfoSoapIn" />
      <wsdl:output message="tns:AddFacebookGroupsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <wsdl:input message="tns:CommentOnFbGroupPostSoapIn" />
      <wsdl:output message="tns:CommentOnFbGroupPostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <wsdl:input message="tns:AddFbPagePostSoapIn" />
      <wsdl:output message="tns:AddFbPagePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <wsdl:input message="tns:GetAllFbPagePostDetailsSoapIn" />
      <wsdl:output message="tns:GetAllFbPagePostDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <wsdl:input message="tns:AddFacebookPagesByUrlSoapIn" />
      <wsdl:output message="tns:AddFacebookPagesByUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <wsdl:input message="tns:GetFbPageDetailsSoapIn" />
      <wsdl:output message="tns:GetFbPageDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <wsdl:input message="tns:FacebookProfileDetailsSoapIn" />
      <wsdl:output message="tns:FacebookProfileDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <wsdl:input message="tns:AddAllFbPagePostSoapIn" />
      <wsdl:output message="tns:AddAllFbPagePostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookHttpGet">
    <wsdl:operation name="Iski">
      <wsdl:input message="tns:IskiHttpGetIn" />
      <wsdl:output message="tns:IskiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <wsdl:input message="tns:AddFacebookAccountHttpGetIn" />
      <wsdl:output message="tns:AddFacebookAccountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <wsdl:input message="tns:GetFacebookDataHttpGetIn" />
      <wsdl:output message="tns:GetFacebookDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <wsdl:input message="tns:GetAllFbGroupdataHttpGetIn" />
      <wsdl:output message="tns:GetAllFbGroupdataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <wsdl:input message="tns:FacebookLikeHttpGetIn" />
      <wsdl:output message="tns:FacebookLikeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <wsdl:input message="tns:FacebookCommentHttpGetIn" />
      <wsdl:output message="tns:FacebookCommentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <wsdl:input message="tns:PostOnFBGroupFeedsHttpGetIn" />
      <wsdl:output message="tns:PostOnFBGroupFeedsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <wsdl:input message="tns:FacebookComposeMessageHttpGetIn" />
      <wsdl:output message="tns:FacebookComposeMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <wsdl:input message="tns:FacebookLoginHttpGetIn" />
      <wsdl:output message="tns:FacebookLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <wsdl:input message="tns:SheduleFacebookMessageHttpGetIn" />
      <wsdl:output message="tns:SheduleFacebookMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <wsdl:input message="tns:GetFacebookPagesHttpGetIn" />
      <wsdl:output message="tns:GetFacebookPagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <wsdl:input message="tns:AddFacebookPagesInfoHttpGetIn" />
      <wsdl:output message="tns:AddFacebookPagesInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <wsdl:input message="tns:GetFacebookGroupsHttpGetIn" />
      <wsdl:output message="tns:GetFacebookGroupsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <wsdl:input message="tns:AddFacebookGroupsInfoHttpGetIn" />
      <wsdl:output message="tns:AddFacebookGroupsInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <wsdl:input message="tns:CommentOnFbGroupPostHttpGetIn" />
      <wsdl:output message="tns:CommentOnFbGroupPostHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <wsdl:input message="tns:AddFbPagePostHttpGetIn" />
      <wsdl:output message="tns:AddFbPagePostHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <wsdl:input message="tns:GetAllFbPagePostDetailsHttpGetIn" />
      <wsdl:output message="tns:GetAllFbPagePostDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <wsdl:input message="tns:AddFacebookPagesByUrlHttpGetIn" />
      <wsdl:output message="tns:AddFacebookPagesByUrlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <wsdl:input message="tns:GetFbPageDetailsHttpGetIn" />
      <wsdl:output message="tns:GetFbPageDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <wsdl:input message="tns:FacebookProfileDetailsHttpGetIn" />
      <wsdl:output message="tns:FacebookProfileDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <wsdl:input message="tns:AddAllFbPagePostHttpGetIn" />
      <wsdl:output message="tns:AddAllFbPagePostHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookHttpPost">
    <wsdl:operation name="Iski">
      <wsdl:input message="tns:IskiHttpPostIn" />
      <wsdl:output message="tns:IskiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <wsdl:input message="tns:AddFacebookAccountHttpPostIn" />
      <wsdl:output message="tns:AddFacebookAccountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <wsdl:input message="tns:GetFacebookDataHttpPostIn" />
      <wsdl:output message="tns:GetFacebookDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <wsdl:input message="tns:GetAllFbGroupdataHttpPostIn" />
      <wsdl:output message="tns:GetAllFbGroupdataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <wsdl:input message="tns:FacebookLikeHttpPostIn" />
      <wsdl:output message="tns:FacebookLikeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <wsdl:input message="tns:FacebookCommentHttpPostIn" />
      <wsdl:output message="tns:FacebookCommentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <wsdl:input message="tns:PostOnFBGroupFeedsHttpPostIn" />
      <wsdl:output message="tns:PostOnFBGroupFeedsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <wsdl:input message="tns:FacebookComposeMessageHttpPostIn" />
      <wsdl:output message="tns:FacebookComposeMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <wsdl:input message="tns:FacebookLoginHttpPostIn" />
      <wsdl:output message="tns:FacebookLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <wsdl:input message="tns:SheduleFacebookMessageHttpPostIn" />
      <wsdl:output message="tns:SheduleFacebookMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <wsdl:input message="tns:GetFacebookPagesHttpPostIn" />
      <wsdl:output message="tns:GetFacebookPagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <wsdl:input message="tns:AddFacebookPagesInfoHttpPostIn" />
      <wsdl:output message="tns:AddFacebookPagesInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <wsdl:input message="tns:GetFacebookGroupsHttpPostIn" />
      <wsdl:output message="tns:GetFacebookGroupsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <wsdl:input message="tns:AddFacebookGroupsInfoHttpPostIn" />
      <wsdl:output message="tns:AddFacebookGroupsInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <wsdl:input message="tns:CommentOnFbGroupPostHttpPostIn" />
      <wsdl:output message="tns:CommentOnFbGroupPostHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <wsdl:input message="tns:AddFbPagePostHttpPostIn" />
      <wsdl:output message="tns:AddFbPagePostHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <wsdl:input message="tns:GetAllFbPagePostDetailsHttpPostIn" />
      <wsdl:output message="tns:GetAllFbPagePostDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <wsdl:input message="tns:AddFacebookPagesByUrlHttpPostIn" />
      <wsdl:output message="tns:AddFacebookPagesByUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <wsdl:input message="tns:GetFbPageDetailsHttpPostIn" />
      <wsdl:output message="tns:GetFbPageDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <wsdl:input message="tns:FacebookProfileDetailsHttpPostIn" />
      <wsdl:output message="tns:FacebookProfileDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <wsdl:input message="tns:AddAllFbPagePostHttpPostIn" />
      <wsdl:output message="tns:AddAllFbPagePostHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacebookSoap" type="tns:FacebookSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Iski">
      <soap:operation soapAction="http://tempuri.org/Iski" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <soap:operation soapAction="http://tempuri.org/AddFacebookAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <soap:operation soapAction="http://tempuri.org/GetFacebookData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <soap:operation soapAction="http://tempuri.org/GetAllFbGroupdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <soap:operation soapAction="http://tempuri.org/FacebookLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <soap:operation soapAction="http://tempuri.org/FacebookComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <soap:operation soapAction="http://tempuri.org/PostOnFBGroupFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <soap:operation soapAction="http://tempuri.org/FacebookComposeMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <soap:operation soapAction="http://tempuri.org/FacebookLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <soap:operation soapAction="http://tempuri.org/SheduleFacebookMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <soap:operation soapAction="http://tempuri.org/GetFacebookPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <soap:operation soapAction="http://tempuri.org/AddFacebookPagesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <soap:operation soapAction="http://tempuri.org/GetFacebookGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <soap:operation soapAction="http://tempuri.org/AddFacebookGroupsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <soap:operation soapAction="http://tempuri.org/CommentOnFbGroupPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <soap:operation soapAction="http://tempuri.org/AddFbPagePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <soap:operation soapAction="http://tempuri.org/GetAllFbPagePostDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <soap:operation soapAction="http://tempuri.org/AddFacebookPagesByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <soap:operation soapAction="http://tempuri.org/GetFbPageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <soap:operation soapAction="http://tempuri.org/FacebookProfileDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <soap:operation soapAction="http://tempuri.org/AddAllFbPagePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookSoap12" type="tns:FacebookSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Iski">
      <soap12:operation soapAction="http://tempuri.org/Iski" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <soap12:operation soapAction="http://tempuri.org/AddFacebookAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <soap12:operation soapAction="http://tempuri.org/GetAllFbGroupdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <soap12:operation soapAction="http://tempuri.org/FacebookLike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <soap12:operation soapAction="http://tempuri.org/FacebookComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <soap12:operation soapAction="http://tempuri.org/PostOnFBGroupFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <soap12:operation soapAction="http://tempuri.org/FacebookComposeMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <soap12:operation soapAction="http://tempuri.org/FacebookLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <soap12:operation soapAction="http://tempuri.org/SheduleFacebookMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <soap12:operation soapAction="http://tempuri.org/AddFacebookPagesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <soap12:operation soapAction="http://tempuri.org/AddFacebookGroupsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <soap12:operation soapAction="http://tempuri.org/CommentOnFbGroupPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <soap12:operation soapAction="http://tempuri.org/AddFbPagePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <soap12:operation soapAction="http://tempuri.org/GetAllFbPagePostDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <soap12:operation soapAction="http://tempuri.org/AddFacebookPagesByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <soap12:operation soapAction="http://tempuri.org/GetFbPageDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <soap12:operation soapAction="http://tempuri.org/FacebookProfileDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <soap12:operation soapAction="http://tempuri.org/AddAllFbPagePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookHttpGet" type="tns:FacebookHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Iski">
      <http:operation location="/Iski" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <http:operation location="/AddFacebookAccount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <http:operation location="/GetFacebookData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <http:operation location="/GetAllFbGroupdata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <http:operation location="/FacebookLike" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <http:operation location="/FacebookComment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <http:operation location="/PostOnFBGroupFeeds" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <http:operation location="/FacebookComposeMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <http:operation location="/FacebookLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <http:operation location="/SheduleFacebookMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <http:operation location="/GetFacebookPages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <http:operation location="/AddFacebookPagesInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <http:operation location="/GetFacebookGroups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <http:operation location="/AddFacebookGroupsInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <http:operation location="/CommentOnFbGroupPost" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <http:operation location="/AddFbPagePost" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <http:operation location="/GetAllFbPagePostDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <http:operation location="/AddFacebookPagesByUrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <http:operation location="/GetFbPageDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <http:operation location="/FacebookProfileDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <http:operation location="/AddAllFbPagePost" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookHttpPost" type="tns:FacebookHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Iski">
      <http:operation location="/Iski" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookAccount">
      <http:operation location="/AddFacebookAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookData">
      <http:operation location="/GetFacebookData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbGroupdata">
      <http:operation location="/GetAllFbGroupdata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLike">
      <http:operation location="/FacebookLike" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComment">
      <http:operation location="/FacebookComment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOnFBGroupFeeds">
      <http:operation location="/PostOnFBGroupFeeds" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookComposeMessage">
      <http:operation location="/FacebookComposeMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookLogin">
      <http:operation location="/FacebookLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleFacebookMessage">
      <http:operation location="/SheduleFacebookMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookPages">
      <http:operation location="/GetFacebookPages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesInfo">
      <http:operation location="/AddFacebookPagesInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookGroups">
      <http:operation location="/GetFacebookGroups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookGroupsInfo">
      <http:operation location="/AddFacebookGroupsInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentOnFbGroupPost">
      <http:operation location="/CommentOnFbGroupPost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFbPagePost">
      <http:operation location="/AddFbPagePost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFbPagePostDetails">
      <http:operation location="/GetAllFbPagePostDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookPagesByUrl">
      <http:operation location="/AddFacebookPagesByUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFbPageDetails">
      <http:operation location="/GetFbPageDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacebookProfileDetails">
      <http:operation location="/FacebookProfileDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllFbPagePost">
      <http:operation location="/AddAllFbPagePost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Facebook">
    <wsdl:port name="FacebookSoap" binding="tns:FacebookSoap">
      <soap:address location="http://localhost:6361/Services/Facebook.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookSoap12" binding="tns:FacebookSoap12">
      <soap12:address location="http://localhost:6361/Services/Facebook.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookHttpGet" binding="tns:FacebookHttpGet">
      <http:address location="http://localhost:6361/Services/Facebook.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookHttpPost" binding="tns:FacebookHttpPost">
      <http:address location="http://localhost:6361/Services/Facebook.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>