SocioBoard/Socioboard/Web References/Api.InstagramComment/InstagramComment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInstagramFeedsComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FeedId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstagramFeedsCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstagramFeedsCommentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInstagramFeedsCommentSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstagramFeedsComment" />
  </wsdl:message>
  <wsdl:message name="GetInstagramFeedsCommentSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstagramFeedsCommentResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstagramFeedsCommentHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FeedId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInstagramFeedsCommentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetInstagramFeedsCommentHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="FeedId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInstagramFeedsCommentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="InstagramCommentSoap">
    <wsdl:operation name="GetInstagramFeedsComment">
      <wsdl:input message="tns:GetInstagramFeedsCommentSoapIn" />
      <wsdl:output message="tns:GetInstagramFeedsCommentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InstagramCommentHttpGet">
    <wsdl:operation name="GetInstagramFeedsComment">
      <wsdl:input message="tns:GetInstagramFeedsCommentHttpGetIn" />
      <wsdl:output message="tns:GetInstagramFeedsCommentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InstagramCommentHttpPost">
    <wsdl:operation name="GetInstagramFeedsComment">
      <wsdl:input message="tns:GetInstagramFeedsCommentHttpPostIn" />
      <wsdl:output message="tns:GetInstagramFeedsCommentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstagramCommentSoap" type="tns:InstagramCommentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstagramFeedsComment">
      <soap:operation soapAction="http://tempuri.org/GetInstagramFeedsComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstagramCommentSoap12" type="tns:InstagramCommentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstagramFeedsComment">
      <soap12:operation soapAction="http://tempuri.org/GetInstagramFeedsComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstagramCommentHttpGet" type="tns:InstagramCommentHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetInstagramFeedsComment">
      <http:operation location="/GetInstagramFeedsComment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstagramCommentHttpPost" type="tns:InstagramCommentHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetInstagramFeedsComment">
      <http:operation location="/GetInstagramFeedsComment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstagramComment">
    <wsdl:port name="InstagramCommentSoap" binding="tns:InstagramCommentSoap">
      <soap:address location="http://devapi.socioboard.com/Services/InstagramComment.asmx" />
    </wsdl:port>
    <wsdl:port name="InstagramCommentSoap12" binding="tns:InstagramCommentSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/InstagramComment.asmx" />
    </wsdl:port>
    <wsdl:port name="InstagramCommentHttpGet" binding="tns:InstagramCommentHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/InstagramComment.asmx" />
    </wsdl:port>
    <wsdl:port name="InstagramCommentHttpPost" binding="tns:InstagramCommentHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/InstagramComment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>