SocioBoard/SocioboardAPI/Library/ReportDataServices/Web References/Api.FacebookReport/FacebookReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFacebookdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookdataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFacebookdataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookdata" />
  </wsdl:message>
  <wsdl:message name="GetFacebookdataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookdataResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacebookdataHttpGetIn">
    <wsdl:part name="FBProfileId" type="s:string" />
    <wsdl:part name="AccessToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookdataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookdataHttpPostIn">
    <wsdl:part name="FBProfileId" type="s:string" />
    <wsdl:part name="AccessToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookdataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FacebookReportSoap">
    <wsdl:operation name="GetFacebookdata">
      <wsdl:input message="tns:GetFacebookdataSoapIn" />
      <wsdl:output message="tns:GetFacebookdataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookReportHttpGet">
    <wsdl:operation name="GetFacebookdata">
      <wsdl:input message="tns:GetFacebookdataHttpGetIn" />
      <wsdl:output message="tns:GetFacebookdataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookReportHttpPost">
    <wsdl:operation name="GetFacebookdata">
      <wsdl:input message="tns:GetFacebookdataHttpPostIn" />
      <wsdl:output message="tns:GetFacebookdataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacebookReportSoap" type="tns:FacebookReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacebookdata">
      <soap:operation soapAction="http://tempuri.org/GetFacebookdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookReportSoap12" type="tns:FacebookReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacebookdata">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookReportHttpGet" type="tns:FacebookReportHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetFacebookdata">
      <http:operation location="/GetFacebookdata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookReportHttpPost" type="tns:FacebookReportHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetFacebookdata">
      <http:operation location="/GetFacebookdata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacebookReport">
    <wsdl:port name="FacebookReportSoap" binding="tns:FacebookReportSoap">
      <soap:address location="http://localhost:6361/Services/FacebookReport.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookReportSoap12" binding="tns:FacebookReportSoap12">
      <soap12:address location="http://localhost:6361/Services/FacebookReport.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookReportHttpGet" binding="tns:FacebookReportHttpGet">
      <http:address location="http://localhost:6361/Services/FacebookReport.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookReportHttpPost" binding="tns:FacebookReportHttpPost">
      <http:address location="http://localhost:6361/Services/FacebookReport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>