SocioBoard/Socioboard/Web References/Api.FacebookFeed/FacebookFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllFacebookFeedsByUserIdAndProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookFeedsByUserIdAndProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfResultsFromTop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileId1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileId1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookFeedsByUserIdAndProfileId1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnreadMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnreadMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUnreadMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReadFbFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReadFbFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllReadFbFeedsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFeedDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedDetail1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedDetail1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFeedDetail1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookFeedByFeedId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="feedid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookFeedByFeedIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookFeedByFeedIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacebookFeedByProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FeedId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacebookFeedByProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFacebookFeedByProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdWithRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdWithRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookFeedsByUserIdWithRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedCountByProfileIdAndUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileIds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedCountByProfileIdAndUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFeedCountByProfileIdAndUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileId" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimit" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1SoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileId1" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1SoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileId1Response" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:getUnreadMessages" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:getUnreadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReadFbFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllReadFbFeeds" />
  </wsdl:message>
  <wsdl:message name="getAllReadFbFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllReadFbFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFeedDetail" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFeedDetailResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetail1SoapIn">
    <wsdl:part name="parameters" element="tns:getAllFeedDetail1" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetail1SoapOut">
    <wsdl:part name="parameters" element="tns:getAllFeedDetail1Response" />
  </wsdl:message>
  <wsdl:message name="GetFacebookFeedByFeedIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookFeedByFeedId" />
  </wsdl:message>
  <wsdl:message name="GetFacebookFeedByFeedIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookFeedByFeedIdResponse" />
  </wsdl:message>
  <wsdl:message name="getFacebookFeedByProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:getFacebookFeedByProfileId" />
  </wsdl:message>
  <wsdl:message name="getFacebookFeedByProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:getFacebookFeedByProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdWithRangeSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdWithRange" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdWithRangeSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdWithRangeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRange" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeedCountByProfileIdAndUserId" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeedCountByProfileIdAndUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
    <wsdl:part name="noOfResultsFromTop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1HttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllReadFbFeedsHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllReadFbFeedsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetailHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetail1HttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetail1HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookFeedByFeedIdHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="feedid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookFeedByFeedIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFacebookFeedByProfileIdHttpGetIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="FeedId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFacebookFeedByProfileIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdWithRangeHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdWithRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
    <wsdl:part name="noOfResultsFromTop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1HttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllReadFbFeedsHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllReadFbFeedsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetailHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetail1HttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFeedDetail1HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookFeedByFeedIdHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="feedid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFacebookFeedByFeedIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFacebookFeedByProfileIdHttpPostIn">
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="FeedId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFacebookFeedByProfileIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdWithRangeHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdWithRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="FacebookFeedSoap">
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdSoapIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitSoapIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileId1SoapIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileId1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input message="tns:getUnreadMessagesSoapIn" />
      <wsdl:output message="tns:getUnreadMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <wsdl:input message="tns:getAllReadFbFeedsSoapIn" />
      <wsdl:output message="tns:getAllReadFbFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <wsdl:input message="tns:getAllFeedDetailSoapIn" />
      <wsdl:output message="tns:getAllFeedDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <wsdl:input message="tns:getAllFeedDetail1SoapIn" />
      <wsdl:output message="tns:getAllFeedDetail1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <wsdl:input message="tns:GetFacebookFeedByFeedIdSoapIn" />
      <wsdl:output message="tns:GetFacebookFeedByFeedIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <wsdl:input message="tns:getFacebookFeedByProfileIdSoapIn" />
      <wsdl:output message="tns:getFacebookFeedByProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdWithRangeSoapIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdWithRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeSoapIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <wsdl:input message="tns:GetFeedCountByProfileIdAndUserIdSoapIn" />
      <wsdl:output message="tns:GetFeedCountByProfileIdAndUserIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookFeedHttpGet">
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileId1HttpGetIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileId1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input message="tns:getUnreadMessagesHttpGetIn" />
      <wsdl:output message="tns:getUnreadMessagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <wsdl:input message="tns:getAllReadFbFeedsHttpGetIn" />
      <wsdl:output message="tns:getAllReadFbFeedsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <wsdl:input message="tns:getAllFeedDetailHttpGetIn" />
      <wsdl:output message="tns:getAllFeedDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <wsdl:input message="tns:getAllFeedDetail1HttpGetIn" />
      <wsdl:output message="tns:getAllFeedDetail1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <wsdl:input message="tns:GetFacebookFeedByFeedIdHttpGetIn" />
      <wsdl:output message="tns:GetFacebookFeedByFeedIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <wsdl:input message="tns:getFacebookFeedByProfileIdHttpGetIn" />
      <wsdl:output message="tns:getFacebookFeedByProfileIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdWithRangeHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdWithRangeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpGetIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <wsdl:input message="tns:GetFeedCountByProfileIdAndUserIdHttpGetIn" />
      <wsdl:output message="tns:GetFeedCountByProfileIdAndUserIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacebookFeedHttpPost">
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileIdUsingLimitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileId1HttpPostIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileId1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input message="tns:getUnreadMessagesHttpPostIn" />
      <wsdl:output message="tns:getUnreadMessagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <wsdl:input message="tns:getAllReadFbFeedsHttpPostIn" />
      <wsdl:output message="tns:getAllReadFbFeedsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <wsdl:input message="tns:getAllFeedDetailHttpPostIn" />
      <wsdl:output message="tns:getAllFeedDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <wsdl:input message="tns:getAllFeedDetail1HttpPostIn" />
      <wsdl:output message="tns:getAllFeedDetail1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <wsdl:input message="tns:GetFacebookFeedByFeedIdHttpPostIn" />
      <wsdl:output message="tns:GetFacebookFeedByFeedIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <wsdl:input message="tns:getFacebookFeedByProfileIdHttpPostIn" />
      <wsdl:output message="tns:getFacebookFeedByProfileIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdWithRangeHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdWithRangeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <wsdl:input message="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpPostIn" />
      <wsdl:output message="tns:getAllFacebookFeedsByUserIdAndProfileId1WithRangeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <wsdl:input message="tns:GetFeedCountByProfileIdAndUserIdHttpPostIn" />
      <wsdl:output message="tns:GetFeedCountByProfileIdAndUserIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacebookFeedSoap" type="tns:FacebookFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileIdUsingLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <soap:operation soapAction="http://tempuri.org/getUnreadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <soap:operation soapAction="http://tempuri.org/getAllReadFbFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <soap:operation soapAction="http://tempuri.org/getAllFeedDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <soap:operation soapAction="http://tempuri.org/getAllFeedDetail1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <soap:operation soapAction="http://tempuri.org/GetFacebookFeedByFeedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <soap:operation soapAction="http://tempuri.org/getFacebookFeedByProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdWithRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId1WithRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <soap:operation soapAction="http://tempuri.org/GetFeedCountByProfileIdAndUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookFeedSoap12" type="tns:FacebookFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileIdUsingLimit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <soap12:operation soapAction="http://tempuri.org/getUnreadMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <soap12:operation soapAction="http://tempuri.org/getAllReadFbFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <soap12:operation soapAction="http://tempuri.org/getAllFeedDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <soap12:operation soapAction="http://tempuri.org/getAllFeedDetail1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookFeedByFeedId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <soap12:operation soapAction="http://tempuri.org/getFacebookFeedByProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdWithRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookFeedsByUserIdAndProfileId1WithRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <soap12:operation soapAction="http://tempuri.org/GetFeedCountByProfileIdAndUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookFeedHttpGet" type="tns:FacebookFeedHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileIdUsingLimit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <http:operation location="/getUnreadMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <http:operation location="/getAllReadFbFeeds" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <http:operation location="/getAllFeedDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <http:operation location="/getAllFeedDetail1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <http:operation location="/GetFacebookFeedByFeedId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <http:operation location="/getFacebookFeedByProfileId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <http:operation location="/getAllFacebookFeedsByUserIdWithRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId1WithRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <http:operation location="/GetFeedCountByProfileIdAndUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookFeedHttpPost" type="tns:FacebookFeedHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileIdUsingLimit">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileIdUsingLimit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <http:operation location="/getUnreadMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReadFbFeeds">
      <http:operation location="/getAllReadFbFeeds" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail">
      <http:operation location="/getAllFeedDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedDetail1">
      <http:operation location="/getAllFeedDetail1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookFeedByFeedId">
      <http:operation location="/GetFacebookFeedByFeedId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacebookFeedByProfileId">
      <http:operation location="/getFacebookFeedByProfileId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdWithRange">
      <http:operation location="/getAllFacebookFeedsByUserIdWithRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookFeedsByUserIdAndProfileId1WithRange">
      <http:operation location="/getAllFacebookFeedsByUserIdAndProfileId1WithRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <http:operation location="/GetFeedCountByProfileIdAndUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacebookFeed">
    <wsdl:port name="FacebookFeedSoap" binding="tns:FacebookFeedSoap">
      <soap:address location="http://localhost:6361/Services/FacebookFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookFeedSoap12" binding="tns:FacebookFeedSoap12">
      <soap12:address location="http://localhost:6361/Services/FacebookFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookFeedHttpGet" binding="tns:FacebookFeedHttpGet">
      <http:address location="http://localhost:6361/Services/FacebookFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookFeedHttpPost" binding="tns:FacebookFeedHttpPost">
      <http:address location="http://localhost:6361/Services/FacebookFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>