SocioBoard/SocioboardDataScheduler/Web References/Api.Twitter/Twitter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTwitterRedirectUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consumerKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="consumerSecret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CallBackUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterRedirectUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTwitterRedirectUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTwitterData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="twitterid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTwitterDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="SheduleTwitterMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TwitterId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sscheduledmsgguid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheduleTwitterMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SheduleTwitterMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwitterAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="client_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="client_secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="redirect_uri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestSecret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestVerifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwitterAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTwitterAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTwitterRedirectUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterRedirectUrl" />
  </wsdl:message>
  <wsdl:message name="GetTwitterRedirectUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterRedirectUrlResponse" />
  </wsdl:message>
  <wsdl:message name="getTwitterDataSoapIn">
    <wsdl:part name="parameters" element="tns:getTwitterData" />
  </wsdl:message>
  <wsdl:message name="getTwitterDataSoapOut">
    <wsdl:part name="parameters" element="tns:getTwitterDataResponse" />
  </wsdl:message>
  <wsdl:message name="SheduleTwitterMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SheduleTwitterMessage" />
  </wsdl:message>
  <wsdl:message name="SheduleTwitterMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SheduleTwitterMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AddTwitterAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwitterAccount" />
  </wsdl:message>
  <wsdl:message name="AddTwitterAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwitterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterRedirectUrlHttpGetIn">
    <wsdl:part name="consumerKey" type="s:string" />
    <wsdl:part name="consumerSecret" type="s:string" />
    <wsdl:part name="CallBackUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterRedirectUrlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getTwitterDataHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="twitterid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTwitterDataHttpGetOut" />
  <wsdl:message name="SheduleTwitterMessageHttpGetIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="sscheduledmsgguid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SheduleTwitterMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddTwitterAccountHttpGetIn">
    <wsdl:part name="client_id" type="s:string" />
    <wsdl:part name="client_secret" type="s:string" />
    <wsdl:part name="redirect_uri" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
    <wsdl:part name="requestToken" type="s:string" />
    <wsdl:part name="requestSecret" type="s:string" />
    <wsdl:part name="requestVerifier" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddTwitterAccountHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterRedirectUrlHttpPostIn">
    <wsdl:part name="consumerKey" type="s:string" />
    <wsdl:part name="consumerSecret" type="s:string" />
    <wsdl:part name="CallBackUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterRedirectUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getTwitterDataHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="twitterid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTwitterDataHttpPostOut" />
  <wsdl:message name="SheduleTwitterMessageHttpPostIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="sscheduledmsgguid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SheduleTwitterMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddTwitterAccountHttpPostIn">
    <wsdl:part name="client_id" type="s:string" />
    <wsdl:part name="client_secret" type="s:string" />
    <wsdl:part name="redirect_uri" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupId" type="s:string" />
    <wsdl:part name="requestToken" type="s:string" />
    <wsdl:part name="requestSecret" type="s:string" />
    <wsdl:part name="requestVerifier" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddTwitterAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TwitterSoap">
    <wsdl:operation name="GetTwitterRedirectUrl">
      <wsdl:input message="tns:GetTwitterRedirectUrlSoapIn" />
      <wsdl:output message="tns:GetTwitterRedirectUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <wsdl:input message="tns:getTwitterDataSoapIn" />
      <wsdl:output message="tns:getTwitterDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <wsdl:input message="tns:SheduleTwitterMessageSoapIn" />
      <wsdl:output message="tns:SheduleTwitterMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <wsdl:input message="tns:AddTwitterAccountSoapIn" />
      <wsdl:output message="tns:AddTwitterAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TwitterHttpGet">
    <wsdl:operation name="GetTwitterRedirectUrl">
      <wsdl:input message="tns:GetTwitterRedirectUrlHttpGetIn" />
      <wsdl:output message="tns:GetTwitterRedirectUrlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <wsdl:input message="tns:getTwitterDataHttpGetIn" />
      <wsdl:output message="tns:getTwitterDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <wsdl:input message="tns:SheduleTwitterMessageHttpGetIn" />
      <wsdl:output message="tns:SheduleTwitterMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <wsdl:input message="tns:AddTwitterAccountHttpGetIn" />
      <wsdl:output message="tns:AddTwitterAccountHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TwitterHttpPost">
    <wsdl:operation name="GetTwitterRedirectUrl">
      <wsdl:input message="tns:GetTwitterRedirectUrlHttpPostIn" />
      <wsdl:output message="tns:GetTwitterRedirectUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <wsdl:input message="tns:getTwitterDataHttpPostIn" />
      <wsdl:output message="tns:getTwitterDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <wsdl:input message="tns:SheduleTwitterMessageHttpPostIn" />
      <wsdl:output message="tns:SheduleTwitterMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <wsdl:input message="tns:AddTwitterAccountHttpPostIn" />
      <wsdl:output message="tns:AddTwitterAccountHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterSoap" type="tns:TwitterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTwitterRedirectUrl">
      <soap:operation soapAction="http://tempuri.org/GetTwitterRedirectUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <soap:operation soapAction="http://tempuri.org/getTwitterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <soap:operation soapAction="http://tempuri.org/SheduleTwitterMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <soap:operation soapAction="http://tempuri.org/AddTwitterAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterSoap12" type="tns:TwitterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTwitterRedirectUrl">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterRedirectUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <soap12:operation soapAction="http://tempuri.org/getTwitterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <soap12:operation soapAction="http://tempuri.org/SheduleTwitterMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <soap12:operation soapAction="http://tempuri.org/AddTwitterAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterHttpGet" type="tns:TwitterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTwitterRedirectUrl">
      <http:operation location="/GetTwitterRedirectUrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <http:operation location="/getTwitterData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <http:operation location="/SheduleTwitterMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <http:operation location="/AddTwitterAccount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterHttpPost" type="tns:TwitterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTwitterRedirectUrl">
      <http:operation location="/GetTwitterRedirectUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTwitterData">
      <http:operation location="/getTwitterData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SheduleTwitterMessage">
      <http:operation location="/SheduleTwitterMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwitterAccount">
      <http:operation location="/AddTwitterAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Twitter">
    <wsdl:port name="TwitterSoap" binding="tns:TwitterSoap">
      <soap:address location="http://api.socioboard.com/Services/Twitter.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterSoap12" binding="tns:TwitterSoap12">
      <soap12:address location="http://api.socioboard.com/Services/Twitter.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterHttpGet" binding="tns:TwitterHttpGet">
      <http:address location="http://api.socioboard.com/Services/Twitter.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterHttpPost" binding="tns:TwitterHttpPost">
      <http:address location="http://api.socioboard.com/Services/Twitter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>