SocioBoard/Socioboard/Web References/Api.LinkedinMessage/LinkedinMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLinkedInMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LinkedInId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkedInMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkedInMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLinkedInMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkedInMessages" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkedInMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInMessagesHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="LinkedInId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInMessagesHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="LinkedInId" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkedInMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="LinkedinMessageSoap">
    <wsdl:operation name="GetLinkedInMessages">
      <wsdl:input message="tns:GetLinkedInMessagesSoapIn" />
      <wsdl:output message="tns:GetLinkedInMessagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LinkedinMessageHttpGet">
    <wsdl:operation name="GetLinkedInMessages">
      <wsdl:input message="tns:GetLinkedInMessagesHttpGetIn" />
      <wsdl:output message="tns:GetLinkedInMessagesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LinkedinMessageHttpPost">
    <wsdl:operation name="GetLinkedInMessages">
      <wsdl:input message="tns:GetLinkedInMessagesHttpPostIn" />
      <wsdl:output message="tns:GetLinkedInMessagesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LinkedinMessageSoap" type="tns:LinkedinMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkedInMessages">
      <soap:operation soapAction="http://tempuri.org/GetLinkedInMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LinkedinMessageSoap12" type="tns:LinkedinMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkedInMessages">
      <soap12:operation soapAction="http://tempuri.org/GetLinkedInMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LinkedinMessageHttpGet" type="tns:LinkedinMessageHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetLinkedInMessages">
      <http:operation location="/GetLinkedInMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LinkedinMessageHttpPost" type="tns:LinkedinMessageHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetLinkedInMessages">
      <http:operation location="/GetLinkedInMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LinkedinMessage">
    <wsdl:port name="LinkedinMessageSoap" binding="tns:LinkedinMessageSoap">
      <soap:address location="http://api.socioboard.com/services/LinkedinMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="LinkedinMessageSoap12" binding="tns:LinkedinMessageSoap12">
      <soap12:address location="http://api.socioboard.com/services/LinkedinMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="LinkedinMessageHttpGet" binding="tns:LinkedinMessageHttpGet">
      <http:address location="http://api.socioboard.com/services/LinkedinMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="LinkedinMessageHttpPost" binding="tns:LinkedinMessageHttpPost">
      <http:address location="http://api.socioboard.com/services/LinkedinMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>