SocioBoard/Socioboard/Web References/Api.SocialProfile/SocialProfile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddSocialProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSocialProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSocialProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfileByProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfileByProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteProfileByProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfileByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfileByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteProfileByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSocialProfileByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSocialProfileByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSocialProfileByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SocialProfileByProfilType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Profiletype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SocialProfileByProfilTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SocialProfileByProfilTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSocialProfilesOfUserCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSocialProfilesOfUserCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSocialProfilesOfUserCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSocialProfilesOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSocialProfilesOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSocialProfilesOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSocialProfiles">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSocialProfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSocialProfilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSocialProfileSoapIn">
    <wsdl:part name="parameters" element="tns:AddSocialProfile" />
  </wsdl:message>
  <wsdl:message name="AddSocialProfileSoapOut">
    <wsdl:part name="parameters" element="tns:AddSocialProfileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProfileByProfileId" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProfileByProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProfileByUserId" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProfileByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetSocialProfileByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSocialProfileByUserId" />
  </wsdl:message>
  <wsdl:message name="GetSocialProfileByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSocialProfileByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="SocialProfileByProfilTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SocialProfileByProfilType" />
  </wsdl:message>
  <wsdl:message name="SocialProfileByProfilTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SocialProfileByProfilTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSocialProfilesOfUserCount" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSocialProfilesOfUserCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSocialProfilesOfUser" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSocialProfilesOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSocialProfiles" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSocialProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="AddSocialProfileHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="ProfileType" type="s:string" />
    <wsdl:part name="ProfileStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddSocialProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByProfileIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByProfileIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSocialProfileByUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSocialProfileByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SocialProfileByProfilTypeHttpGetIn">
    <wsdl:part name="Profiletype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SocialProfileByProfilTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserCountHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserCountHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesHttpGetIn" />
  <wsdl:message name="GetAllSocialProfilesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddSocialProfileHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="ProfileType" type="s:string" />
    <wsdl:part name="ProfileStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddSocialProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByProfileIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByProfileIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProfileByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSocialProfileByUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSocialProfileByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SocialProfileByProfilTypeHttpPostIn">
    <wsdl:part name="Profiletype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SocialProfileByProfilTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserCountHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserCountHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesOfUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSocialProfilesHttpPostIn" />
  <wsdl:message name="GetAllSocialProfilesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SocialProfileSoap">
    <wsdl:operation name="AddSocialProfile">
      <wsdl:input message="tns:AddSocialProfileSoapIn" />
      <wsdl:output message="tns:AddSocialProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <wsdl:input message="tns:DeleteProfileByProfileIdSoapIn" />
      <wsdl:output message="tns:DeleteProfileByProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <wsdl:input message="tns:DeleteProfileByUserIdSoapIn" />
      <wsdl:output message="tns:DeleteProfileByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <wsdl:input message="tns:GetSocialProfileByUserIdSoapIn" />
      <wsdl:output message="tns:GetSocialProfileByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <wsdl:input message="tns:SocialProfileByProfilTypeSoapIn" />
      <wsdl:output message="tns:SocialProfileByProfilTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <wsdl:input message="tns:GetAllSocialProfilesOfUserCountSoapIn" />
      <wsdl:output message="tns:GetAllSocialProfilesOfUserCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <wsdl:input message="tns:GetAllSocialProfilesOfUserSoapIn" />
      <wsdl:output message="tns:GetAllSocialProfilesOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <wsdl:input message="tns:GetAllSocialProfilesSoapIn" />
      <wsdl:output message="tns:GetAllSocialProfilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SocialProfileHttpGet">
    <wsdl:operation name="AddSocialProfile">
      <wsdl:input message="tns:AddSocialProfileHttpGetIn" />
      <wsdl:output message="tns:AddSocialProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <wsdl:input message="tns:DeleteProfileByProfileIdHttpGetIn" />
      <wsdl:output message="tns:DeleteProfileByProfileIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <wsdl:input message="tns:DeleteProfileByUserIdHttpGetIn" />
      <wsdl:output message="tns:DeleteProfileByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <wsdl:input message="tns:GetSocialProfileByUserIdHttpGetIn" />
      <wsdl:output message="tns:GetSocialProfileByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <wsdl:input message="tns:SocialProfileByProfilTypeHttpGetIn" />
      <wsdl:output message="tns:SocialProfileByProfilTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <wsdl:input message="tns:GetAllSocialProfilesOfUserCountHttpGetIn" />
      <wsdl:output message="tns:GetAllSocialProfilesOfUserCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <wsdl:input message="tns:GetAllSocialProfilesOfUserHttpGetIn" />
      <wsdl:output message="tns:GetAllSocialProfilesOfUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <wsdl:input message="tns:GetAllSocialProfilesHttpGetIn" />
      <wsdl:output message="tns:GetAllSocialProfilesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SocialProfileHttpPost">
    <wsdl:operation name="AddSocialProfile">
      <wsdl:input message="tns:AddSocialProfileHttpPostIn" />
      <wsdl:output message="tns:AddSocialProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <wsdl:input message="tns:DeleteProfileByProfileIdHttpPostIn" />
      <wsdl:output message="tns:DeleteProfileByProfileIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <wsdl:input message="tns:DeleteProfileByUserIdHttpPostIn" />
      <wsdl:output message="tns:DeleteProfileByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <wsdl:input message="tns:GetSocialProfileByUserIdHttpPostIn" />
      <wsdl:output message="tns:GetSocialProfileByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <wsdl:input message="tns:SocialProfileByProfilTypeHttpPostIn" />
      <wsdl:output message="tns:SocialProfileByProfilTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <wsdl:input message="tns:GetAllSocialProfilesOfUserCountHttpPostIn" />
      <wsdl:output message="tns:GetAllSocialProfilesOfUserCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <wsdl:input message="tns:GetAllSocialProfilesOfUserHttpPostIn" />
      <wsdl:output message="tns:GetAllSocialProfilesOfUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <wsdl:input message="tns:GetAllSocialProfilesHttpPostIn" />
      <wsdl:output message="tns:GetAllSocialProfilesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SocialProfileSoap" type="tns:SocialProfileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSocialProfile">
      <soap:operation soapAction="http://tempuri.org/AddSocialProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <soap:operation soapAction="http://tempuri.org/DeleteProfileByProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <soap:operation soapAction="http://tempuri.org/DeleteProfileByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <soap:operation soapAction="http://tempuri.org/GetSocialProfileByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <soap:operation soapAction="http://tempuri.org/SocialProfileByProfilType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <soap:operation soapAction="http://tempuri.org/GetAllSocialProfilesOfUserCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <soap:operation soapAction="http://tempuri.org/GetAllSocialProfilesOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <soap:operation soapAction="http://tempuri.org/GetAllSocialProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialProfileSoap12" type="tns:SocialProfileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSocialProfile">
      <soap12:operation soapAction="http://tempuri.org/AddSocialProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <soap12:operation soapAction="http://tempuri.org/DeleteProfileByProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <soap12:operation soapAction="http://tempuri.org/DeleteProfileByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetSocialProfileByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <soap12:operation soapAction="http://tempuri.org/SocialProfileByProfilType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <soap12:operation soapAction="http://tempuri.org/GetAllSocialProfilesOfUserCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <soap12:operation soapAction="http://tempuri.org/GetAllSocialProfilesOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <soap12:operation soapAction="http://tempuri.org/GetAllSocialProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialProfileHttpGet" type="tns:SocialProfileHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddSocialProfile">
      <http:operation location="/AddSocialProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <http:operation location="/DeleteProfileByProfileId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <http:operation location="/DeleteProfileByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <http:operation location="/GetSocialProfileByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <http:operation location="/SocialProfileByProfilType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <http:operation location="/GetAllSocialProfilesOfUserCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <http:operation location="/GetAllSocialProfilesOfUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <http:operation location="/GetAllSocialProfiles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialProfileHttpPost" type="tns:SocialProfileHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddSocialProfile">
      <http:operation location="/AddSocialProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByProfileId">
      <http:operation location="/DeleteProfileByProfileId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfileByUserId">
      <http:operation location="/DeleteProfileByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSocialProfileByUserId">
      <http:operation location="/GetSocialProfileByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SocialProfileByProfilType">
      <http:operation location="/SocialProfileByProfilType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUserCount">
      <http:operation location="/GetAllSocialProfilesOfUserCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfilesOfUser">
      <http:operation location="/GetAllSocialProfilesOfUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSocialProfiles">
      <http:operation location="/GetAllSocialProfiles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialProfile">
    <wsdl:port name="SocialProfileSoap" binding="tns:SocialProfileSoap">
      <soap:address location="http://devapi.socioboard.com/Services/SocialProfile.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialProfileSoap12" binding="tns:SocialProfileSoap12">
      <soap12:address location="http://devapi.socioboard.com/Services/SocialProfile.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialProfileHttpGet" binding="tns:SocialProfileHttpGet">
      <http:address location="http://devapi.socioboard.com/Services/SocialProfile.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialProfileHttpPost" binding="tns:SocialProfileHttpPost">
      <http:address location="http://devapi.socioboard.com/Services/SocialProfile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>