SocioBoard/Socioboard/Web References/Api.User/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pass_x0020_Username">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActivationStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pass_x0020_UsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pass_x0020_UsernameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="timezone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teamid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamMembersResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProfilesConnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProfilesConnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfilesConnectedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsersById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsersByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsersByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserInfoByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserInfoByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserInfoByEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUsertoactivate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActivationStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUsertoactivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUsertoactivateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePaymentStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActivationStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePaymentStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changePaymentStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserAccountInfoByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpiryDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserAccountInfoByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserAccountInfoByUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCountByMonth">
        <s:complexType />
      </s:element>
      <s:element name="UserCountByMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCountByMonthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCountByAccTypeMonth">
        <s:complexType />
      </s:element>
      <s:element name="UserCountByAccTypeMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCountByAccTypeMonthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaidUserCountByMonth">
        <s:complexType />
      </s:element>
      <s:element name="PaidUserCountByMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PaidUserCountByMonthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnPaidUserCountByMonth">
        <s:complexType />
      </s:element>
      <s:element name="UnPaidUserCountByMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnPaidUserCountByMonthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateForgetPasswordKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ForgetPasswordKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateForgetPasswordKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateForgetPasswordKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Pass_x0020_UsernameSoapIn">
    <wsdl:part name="parameters" element="tns:Pass_x0020_Username" />
  </wsdl:message>
  <wsdl:message name="Pass_x0020_UsernameSoapOut">
    <wsdl:part name="parameters" element="tns:Pass_x0020_UsernameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddTeamMembersSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeamMembers" />
  </wsdl:message>
  <wsdl:message name="AddTeamMembersSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamMembersResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ProfilesConnectedSoapIn">
    <wsdl:part name="parameters" element="tns:ProfilesConnected" />
  </wsdl:message>
  <wsdl:message name="ProfilesConnectedSoapOut">
    <wsdl:part name="parameters" element="tns:ProfilesConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getUsersById" />
  </wsdl:message>
  <wsdl:message name="getUsersByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getUsersByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getUserInfoByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:getUserInfoByEmail" />
  </wsdl:message>
  <wsdl:message name="getUserInfoByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:getUserInfoByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUsertoactivateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUsertoactivate" />
  </wsdl:message>
  <wsdl:message name="UpdateUsertoactivateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUsertoactivateResponse" />
  </wsdl:message>
  <wsdl:message name="changePaymentStatusSoapIn">
    <wsdl:part name="parameters" element="tns:changePaymentStatus" />
  </wsdl:message>
  <wsdl:message name="changePaymentStatusSoapOut">
    <wsdl:part name="parameters" element="tns:changePaymentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAccountInfoByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserAccountInfoByUserId" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAccountInfoByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserAccountInfoByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserCountByMonthSoapIn">
    <wsdl:part name="parameters" element="tns:UserCountByMonth" />
  </wsdl:message>
  <wsdl:message name="UserCountByMonthSoapOut">
    <wsdl:part name="parameters" element="tns:UserCountByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="UserCountByAccTypeMonthSoapIn">
    <wsdl:part name="parameters" element="tns:UserCountByAccTypeMonth" />
  </wsdl:message>
  <wsdl:message name="UserCountByAccTypeMonthSoapOut">
    <wsdl:part name="parameters" element="tns:UserCountByAccTypeMonthResponse" />
  </wsdl:message>
  <wsdl:message name="PaidUserCountByMonthSoapIn">
    <wsdl:part name="parameters" element="tns:PaidUserCountByMonth" />
  </wsdl:message>
  <wsdl:message name="PaidUserCountByMonthSoapOut">
    <wsdl:part name="parameters" element="tns:PaidUserCountByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="UnPaidUserCountByMonthSoapIn">
    <wsdl:part name="parameters" element="tns:UnPaidUserCountByMonth" />
  </wsdl:message>
  <wsdl:message name="UnPaidUserCountByMonthSoapOut">
    <wsdl:part name="parameters" element="tns:UnPaidUserCountByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateForgetPasswordKeySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateForgetPasswordKey" />
  </wsdl:message>
  <wsdl:message name="UpdateForgetPasswordKeySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateForgetPasswordKeyResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="EmailId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Pass_x0020_UsernameHttpGetIn">
    <wsdl:part name="EmailId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="AccountType" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="ActivationStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Pass_x0020_UsernameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="fname" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="timezone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddTeamMembersHttpGetIn">
    <wsdl:part name="groupid" type="s:string" />
    <wsdl:part name="teamid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddTeamMembersHttpGetOut" />
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="EmailId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NewPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProfilesConnectedHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProfilesConnectedHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUsersByIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUsersByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUserInfoByEmailHttpGetIn">
    <wsdl:part name="userEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUserInfoByEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUsertoactivateHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ActivationStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUsertoactivateHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="changePaymentStatusHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ActivationStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePaymentStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAccountInfoByUserIdHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="AccountType" type="s:string" />
    <wsdl:part name="ExpiryDate" type="s:string" />
    <wsdl:part name="PaymentStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAccountInfoByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserCountByMonthHttpGetIn" />
  <wsdl:message name="UserCountByMonthHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserCountByAccTypeMonthHttpGetIn" />
  <wsdl:message name="UserCountByAccTypeMonthHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PaidUserCountByMonthHttpGetIn" />
  <wsdl:message name="PaidUserCountByMonthHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UnPaidUserCountByMonthHttpGetIn" />
  <wsdl:message name="UnPaidUserCountByMonthHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateForgetPasswordKeyHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="ForgetPasswordKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateForgetPasswordKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="EmailId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Pass_x0020_UsernameHttpPostIn">
    <wsdl:part name="EmailId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="AccountType" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="ActivationStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Pass_x0020_UsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="fname" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="timezone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddTeamMembersHttpPostIn">
    <wsdl:part name="groupid" type="s:string" />
    <wsdl:part name="teamid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddTeamMembersHttpPostOut" />
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="EmailId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NewPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProfilesConnectedHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProfilesConnectedHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUsersByIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUsersByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUserInfoByEmailHttpPostIn">
    <wsdl:part name="userEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUserInfoByEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUsertoactivateHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ActivationStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUsertoactivateHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="changePaymentStatusHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ActivationStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePaymentStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAccountInfoByUserIdHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="AccountType" type="s:string" />
    <wsdl:part name="ExpiryDate" type="s:string" />
    <wsdl:part name="PaymentStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAccountInfoByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserCountByMonthHttpPostIn" />
  <wsdl:message name="UserCountByMonthHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserCountByAccTypeMonthHttpPostIn" />
  <wsdl:message name="UserCountByAccTypeMonthHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PaidUserCountByMonthHttpPostIn" />
  <wsdl:message name="PaidUserCountByMonthHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UnPaidUserCountByMonthHttpPostIn" />
  <wsdl:message name="UnPaidUserCountByMonthHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateForgetPasswordKeyHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="ForgetPasswordKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateForgetPasswordKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="UserSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pass Username</wsdl:documentation>
      <wsdl:input name="Pass_x0020_Username" message="tns:Pass_x0020_UsernameSoapIn" />
      <wsdl:output name="Pass_x0020_Username" message="tns:Pass_x0020_UsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <wsdl:input message="tns:AddTeamMembersSoapIn" />
      <wsdl:output message="tns:AddTeamMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <wsdl:input message="tns:ProfilesConnectedSoapIn" />
      <wsdl:output message="tns:ProfilesConnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <wsdl:input message="tns:getUsersByIdSoapIn" />
      <wsdl:output message="tns:getUsersByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <wsdl:input message="tns:getUserInfoByEmailSoapIn" />
      <wsdl:output message="tns:getUserInfoByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <wsdl:input message="tns:UpdateUsertoactivateSoapIn" />
      <wsdl:output message="tns:UpdateUsertoactivateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <wsdl:input message="tns:changePaymentStatusSoapIn" />
      <wsdl:output message="tns:changePaymentStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <wsdl:input message="tns:UpdateUserAccountInfoByUserIdSoapIn" />
      <wsdl:output message="tns:UpdateUserAccountInfoByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <wsdl:input message="tns:UserCountByMonthSoapIn" />
      <wsdl:output message="tns:UserCountByMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <wsdl:input message="tns:UserCountByAccTypeMonthSoapIn" />
      <wsdl:output message="tns:UserCountByAccTypeMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <wsdl:input message="tns:PaidUserCountByMonthSoapIn" />
      <wsdl:output message="tns:PaidUserCountByMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <wsdl:input message="tns:UnPaidUserCountByMonthSoapIn" />
      <wsdl:output message="tns:UnPaidUserCountByMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <wsdl:input message="tns:UpdateForgetPasswordKeySoapIn" />
      <wsdl:output message="tns:UpdateForgetPasswordKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pass Username</wsdl:documentation>
      <wsdl:input name="Pass_x0020_Username" message="tns:Pass_x0020_UsernameHttpGetIn" />
      <wsdl:output name="Pass_x0020_Username" message="tns:Pass_x0020_UsernameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserHttpGetIn" />
      <wsdl:output message="tns:UpdateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <wsdl:input message="tns:AddTeamMembersHttpGetIn" />
      <wsdl:output message="tns:AddTeamMembersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <wsdl:input message="tns:ProfilesConnectedHttpGetIn" />
      <wsdl:output message="tns:ProfilesConnectedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <wsdl:input message="tns:getUsersByIdHttpGetIn" />
      <wsdl:output message="tns:getUsersByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <wsdl:input message="tns:getUserInfoByEmailHttpGetIn" />
      <wsdl:output message="tns:getUserInfoByEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <wsdl:input message="tns:UpdateUsertoactivateHttpGetIn" />
      <wsdl:output message="tns:UpdateUsertoactivateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <wsdl:input message="tns:changePaymentStatusHttpGetIn" />
      <wsdl:output message="tns:changePaymentStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <wsdl:input message="tns:UpdateUserAccountInfoByUserIdHttpGetIn" />
      <wsdl:output message="tns:UpdateUserAccountInfoByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <wsdl:input message="tns:UserCountByMonthHttpGetIn" />
      <wsdl:output message="tns:UserCountByMonthHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <wsdl:input message="tns:UserCountByAccTypeMonthHttpGetIn" />
      <wsdl:output message="tns:UserCountByAccTypeMonthHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <wsdl:input message="tns:PaidUserCountByMonthHttpGetIn" />
      <wsdl:output message="tns:PaidUserCountByMonthHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <wsdl:input message="tns:UnPaidUserCountByMonthHttpGetIn" />
      <wsdl:output message="tns:UnPaidUserCountByMonthHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <wsdl:input message="tns:UpdateForgetPasswordKeyHttpGetIn" />
      <wsdl:output message="tns:UpdateForgetPasswordKeyHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pass Username</wsdl:documentation>
      <wsdl:input name="Pass_x0020_Username" message="tns:Pass_x0020_UsernameHttpPostIn" />
      <wsdl:output name="Pass_x0020_Username" message="tns:Pass_x0020_UsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserHttpPostIn" />
      <wsdl:output message="tns:UpdateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <wsdl:input message="tns:AddTeamMembersHttpPostIn" />
      <wsdl:output message="tns:AddTeamMembersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <wsdl:input message="tns:ProfilesConnectedHttpPostIn" />
      <wsdl:output message="tns:ProfilesConnectedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <wsdl:input message="tns:getUsersByIdHttpPostIn" />
      <wsdl:output message="tns:getUsersByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <wsdl:input message="tns:getUserInfoByEmailHttpPostIn" />
      <wsdl:output message="tns:getUserInfoByEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <wsdl:input message="tns:UpdateUsertoactivateHttpPostIn" />
      <wsdl:output message="tns:UpdateUsertoactivateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <wsdl:input message="tns:changePaymentStatusHttpPostIn" />
      <wsdl:output message="tns:changePaymentStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <wsdl:input message="tns:UpdateUserAccountInfoByUserIdHttpPostIn" />
      <wsdl:output message="tns:UpdateUserAccountInfoByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <wsdl:input message="tns:UserCountByMonthHttpPostIn" />
      <wsdl:output message="tns:UserCountByMonthHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <wsdl:input message="tns:UserCountByAccTypeMonthHttpPostIn" />
      <wsdl:output message="tns:UserCountByAccTypeMonthHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <wsdl:input message="tns:PaidUserCountByMonthHttpPostIn" />
      <wsdl:output message="tns:PaidUserCountByMonthHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <wsdl:input message="tns:UnPaidUserCountByMonthHttpPostIn" />
      <wsdl:output message="tns:UnPaidUserCountByMonthHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <wsdl:input message="tns:UpdateForgetPasswordKeyHttpPostIn" />
      <wsdl:output message="tns:UpdateForgetPasswordKeyHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap" type="tns:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Pass Username" style="document" />
      <wsdl:input name="Pass_x0020_Username">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Pass_x0020_Username">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <soap:operation soapAction="http://tempuri.org/AddTeamMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <soap:operation soapAction="http://tempuri.org/ProfilesConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <soap:operation soapAction="http://tempuri.org/getUsersById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <soap:operation soapAction="http://tempuri.org/getUserInfoByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <soap:operation soapAction="http://tempuri.org/UpdateUsertoactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <soap:operation soapAction="http://tempuri.org/changePaymentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <soap:operation soapAction="http://tempuri.org/UpdateUserAccountInfoByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <soap:operation soapAction="http://tempuri.org/UserCountByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <soap:operation soapAction="http://tempuri.org/UserCountByAccTypeMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <soap:operation soapAction="http://tempuri.org/PaidUserCountByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <soap:operation soapAction="http://tempuri.org/UnPaidUserCountByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <soap:operation soapAction="http://tempuri.org/UpdateForgetPasswordKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserSoap12" type="tns:UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Pass Username" style="document" />
      <wsdl:input name="Pass_x0020_Username">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Pass_x0020_Username">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <soap12:operation soapAction="http://tempuri.org/AddTeamMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <soap12:operation soapAction="http://tempuri.org/ProfilesConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <soap12:operation soapAction="http://tempuri.org/getUsersById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <soap12:operation soapAction="http://tempuri.org/getUserInfoByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <soap12:operation soapAction="http://tempuri.org/UpdateUsertoactivate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <soap12:operation soapAction="http://tempuri.org/changePaymentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserAccountInfoByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <soap12:operation soapAction="http://tempuri.org/UserCountByMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <soap12:operation soapAction="http://tempuri.org/UserCountByAccTypeMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <soap12:operation soapAction="http://tempuri.org/PaidUserCountByMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <soap12:operation soapAction="http://tempuri.org/UnPaidUserCountByMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <soap12:operation soapAction="http://tempuri.org/UpdateForgetPasswordKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserHttpGet" type="tns:UserHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <http:operation location="/Pass Username" />
      <wsdl:input name="Pass_x0020_Username">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="Pass_x0020_Username">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <http:operation location="/UpdateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <http:operation location="/AddTeamMembers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <http:operation location="/ProfilesConnected" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <http:operation location="/getUsersById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <http:operation location="/getUserInfoByEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <http:operation location="/UpdateUsertoactivate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <http:operation location="/changePaymentStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <http:operation location="/UpdateUserAccountInfoByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <http:operation location="/UserCountByMonth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <http:operation location="/UserCountByAccTypeMonth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <http:operation location="/PaidUserCountByMonth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <http:operation location="/UnPaidUserCountByMonth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <http:operation location="/UpdateForgetPasswordKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserHttpPost" type="tns:UserHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <http:operation location="/Pass Username" />
      <wsdl:input name="Pass_x0020_Username">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="Pass_x0020_Username">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <http:operation location="/UpdateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamMembers">
      <http:operation location="/AddTeamMembers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfilesConnected">
      <http:operation location="/ProfilesConnected" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersById">
      <http:operation location="/getUsersById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfoByEmail">
      <http:operation location="/getUserInfoByEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsertoactivate">
      <http:operation location="/UpdateUsertoactivate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePaymentStatus">
      <http:operation location="/changePaymentStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccountInfoByUserId">
      <http:operation location="/UpdateUserAccountInfoByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByMonth">
      <http:operation location="/UserCountByMonth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCountByAccTypeMonth">
      <http:operation location="/UserCountByAccTypeMonth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaidUserCountByMonth">
      <http:operation location="/PaidUserCountByMonth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnPaidUserCountByMonth">
      <http:operation location="/UnPaidUserCountByMonth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForgetPasswordKey">
      <http:operation location="/UpdateForgetPasswordKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="UserSoap" binding="tns:UserSoap">
      <soap:address location="http://localhost:6361/services/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserSoap12" binding="tns:UserSoap12">
      <soap12:address location="http://localhost:6361/services/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserHttpGet" binding="tns:UserHttpGet">
      <http:address location="http://localhost:6361/services/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserHttpPost" binding="tns:UserHttpPost">
      <http:address location="http://localhost:6361/services/User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>