SocioBoard/Socioboard/Web References/Api.TwitterMessage/TwitterMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTwitterMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TwitterId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTwitterMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessages1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TwitterId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessages1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTwitterMessages1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnreadMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Profileid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnreadMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUnreadMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlltwtMessagesOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Profileid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlltwtMessagesOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAlltwtMessagesOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlltwtMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Profileid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlltwtMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAlltwtMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterUsertweetOfUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterUsertweetOfUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterUsertweetOfUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterRetweetOfUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterRetweetOfUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterRetweetOfUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterMentionsOfUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterMentionsOfUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterMentionsOfUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessageByMessageId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msgid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessageByMessageIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTwitterMessageByMessageIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterUsertweetOfUsersByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterUsertweetOfUsersByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterUsertweetOfUsersByKeywordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterRetweetOfUsersByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterRetweetOfUsersByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterRetweetOfUsersByKeywordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterMentionsOfUsersByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterMentionsOfUsersByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterMentionsOfUsersByKeywordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessages1ByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TwitterId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterMessages1ByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTwitterMessages1ByKeywordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedCountByProfileIdAndUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileIds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedCountByProfileIdAndUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFeedCountByProfileIdAndUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterkMessagesOfUserByProfileIdWithRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterkMessagesOfUserByProfileIdWithRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMessageDetailWithRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMessageDetailWithRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMessageDetailWithRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTwitterMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterMessages" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1SoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterMessages1" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1SoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterMessages1Response" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:getUnreadMessages" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:getUnreadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAlltwtMessagesOfUser" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAlltwtMessagesOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:getAlltwtMessages" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:getAlltwtMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterUsertweetOfUsers" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterUsertweetOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterRetweetOfUsers" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterRetweetOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterMentionsOfUsers" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterMentionsOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessageByMessageIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterMessageByMessageId" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessageByMessageIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterMessageByMessageIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterUsertweetOfUsersByKeyword" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterUsertweetOfUsersByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterRetweetOfUsersByKeyword" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterRetweetOfUsersByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterMentionsOfUsersByKeyword" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterMentionsOfUsersByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1ByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterMessages1ByKeyword" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1ByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterMessages1ByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeedCountByProfileIdAndUserId" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeedCountByProfileIdAndUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterkMessagesOfUserByProfileIdWithRangeSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterkMessagesOfUserByProfileIdWithRange" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterkMessagesOfUserByProfileIdWithRangeSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageDetailWithRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMessageDetailWithRange" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageDetailWithRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMessageDetailWithRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessagesHttpGetIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1HttpGetIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpGetIn">
    <wsdl:part name="Profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesOfUserHttpGetIn">
    <wsdl:part name="Profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesOfUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesHttpGetIn">
    <wsdl:part name="Profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessageByMessageIdHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="Msgid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessageByMessageIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersByKeywordHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersByKeywordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersByKeywordHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersByKeywordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersByKeywordHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersByKeywordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1ByKeywordHttpGetIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1ByKeywordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageDetailWithRangeHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageDetailWithRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessagesHttpPostIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1HttpPostIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpPostIn">
    <wsdl:part name="Profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUnreadMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesOfUserHttpPostIn">
    <wsdl:part name="Profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesOfUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesHttpPostIn">
    <wsdl:part name="Profileid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAlltwtMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessageByMessageIdHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="Msgid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessageByMessageIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersByKeywordHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterUsertweetOfUsersByKeywordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersByKeywordHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterRetweetOfUsersByKeywordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersByKeywordHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileId" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterMentionsOfUsersByKeywordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1ByKeywordHttpPostIn">
    <wsdl:part name="TwitterId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
    <wsdl:part name="keyword" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTwitterMessages1ByKeywordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ProfileIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeedCountByProfileIdAndUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageDetailWithRangeHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="profileid" type="s:string" />
    <wsdl:part name="noOfDataToSkip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageDetailWithRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TwitterMessageSoap">
    <wsdl:operation name="GetTwitterMessages">
      <wsdl:input message="tns:GetTwitterMessagesSoapIn" />
      <wsdl:output message="tns:GetTwitterMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <wsdl:input message="tns:GetTwitterMessages1SoapIn" />
      <wsdl:output message="tns:GetTwitterMessages1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input message="tns:getUnreadMessagesSoapIn" />
      <wsdl:output message="tns:getUnreadMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <wsdl:input message="tns:getAlltwtMessagesOfUserSoapIn" />
      <wsdl:output message="tns:getAlltwtMessagesOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <wsdl:input message="tns:getAlltwtMessagesSoapIn" />
      <wsdl:output message="tns:getAlltwtMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <wsdl:input message="tns:getAllTwitterUsertweetOfUsersSoapIn" />
      <wsdl:output message="tns:getAllTwitterUsertweetOfUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <wsdl:input message="tns:getAllTwitterRetweetOfUsersSoapIn" />
      <wsdl:output message="tns:getAllTwitterRetweetOfUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <wsdl:input message="tns:getAllTwitterMentionsOfUsersSoapIn" />
      <wsdl:output message="tns:getAllTwitterMentionsOfUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <wsdl:input message="tns:GetTwitterMessageByMessageIdSoapIn" />
      <wsdl:output message="tns:GetTwitterMessageByMessageIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterUsertweetOfUsersByKeywordSoapIn" />
      <wsdl:output message="tns:getAllTwitterUsertweetOfUsersByKeywordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterRetweetOfUsersByKeywordSoapIn" />
      <wsdl:output message="tns:getAllTwitterRetweetOfUsersByKeywordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterMentionsOfUsersByKeywordSoapIn" />
      <wsdl:output message="tns:getAllTwitterMentionsOfUsersByKeywordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <wsdl:input message="tns:GetTwitterMessages1ByKeywordSoapIn" />
      <wsdl:output message="tns:GetTwitterMessages1ByKeywordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <wsdl:input message="tns:GetFeedCountByProfileIdAndUserIdSoapIn" />
      <wsdl:output message="tns:GetFeedCountByProfileIdAndUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <wsdl:input message="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeSoapIn" />
      <wsdl:output message="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <wsdl:input message="tns:GetAllMessageDetailWithRangeSoapIn" />
      <wsdl:output message="tns:GetAllMessageDetailWithRangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TwitterMessageHttpGet">
    <wsdl:operation name="GetTwitterMessages">
      <wsdl:input message="tns:GetTwitterMessagesHttpGetIn" />
      <wsdl:output message="tns:GetTwitterMessagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <wsdl:input message="tns:GetTwitterMessages1HttpGetIn" />
      <wsdl:output message="tns:GetTwitterMessages1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input message="tns:getUnreadMessagesHttpGetIn" />
      <wsdl:output message="tns:getUnreadMessagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <wsdl:input message="tns:getAlltwtMessagesOfUserHttpGetIn" />
      <wsdl:output message="tns:getAlltwtMessagesOfUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <wsdl:input message="tns:getAlltwtMessagesHttpGetIn" />
      <wsdl:output message="tns:getAlltwtMessagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <wsdl:input message="tns:getAllTwitterUsertweetOfUsersHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterUsertweetOfUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <wsdl:input message="tns:getAllTwitterRetweetOfUsersHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterRetweetOfUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <wsdl:input message="tns:getAllTwitterMentionsOfUsersHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterMentionsOfUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <wsdl:input message="tns:GetTwitterMessageByMessageIdHttpGetIn" />
      <wsdl:output message="tns:GetTwitterMessageByMessageIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterUsertweetOfUsersByKeywordHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterUsertweetOfUsersByKeywordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterRetweetOfUsersByKeywordHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterRetweetOfUsersByKeywordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterMentionsOfUsersByKeywordHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterMentionsOfUsersByKeywordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <wsdl:input message="tns:GetTwitterMessages1ByKeywordHttpGetIn" />
      <wsdl:output message="tns:GetTwitterMessages1ByKeywordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <wsdl:input message="tns:GetFeedCountByProfileIdAndUserIdHttpGetIn" />
      <wsdl:output message="tns:GetFeedCountByProfileIdAndUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <wsdl:input message="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpGetIn" />
      <wsdl:output message="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <wsdl:input message="tns:GetAllMessageDetailWithRangeHttpGetIn" />
      <wsdl:output message="tns:GetAllMessageDetailWithRangeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TwitterMessageHttpPost">
    <wsdl:operation name="GetTwitterMessages">
      <wsdl:input message="tns:GetTwitterMessagesHttpPostIn" />
      <wsdl:output message="tns:GetTwitterMessagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <wsdl:input message="tns:GetTwitterMessages1HttpPostIn" />
      <wsdl:output message="tns:GetTwitterMessages1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input message="tns:getUnreadMessagesHttpPostIn" />
      <wsdl:output message="tns:getUnreadMessagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <wsdl:input message="tns:getAlltwtMessagesOfUserHttpPostIn" />
      <wsdl:output message="tns:getAlltwtMessagesOfUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <wsdl:input message="tns:getAlltwtMessagesHttpPostIn" />
      <wsdl:output message="tns:getAlltwtMessagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <wsdl:input message="tns:getAllTwitterUsertweetOfUsersHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterUsertweetOfUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <wsdl:input message="tns:getAllTwitterRetweetOfUsersHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterRetweetOfUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <wsdl:input message="tns:getAllTwitterMentionsOfUsersHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterMentionsOfUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <wsdl:input message="tns:GetTwitterMessageByMessageIdHttpPostIn" />
      <wsdl:output message="tns:GetTwitterMessageByMessageIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterUsertweetOfUsersByKeywordHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterUsertweetOfUsersByKeywordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterRetweetOfUsersByKeywordHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterRetweetOfUsersByKeywordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <wsdl:input message="tns:getAllTwitterMentionsOfUsersByKeywordHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterMentionsOfUsersByKeywordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <wsdl:input message="tns:GetTwitterMessages1ByKeywordHttpPostIn" />
      <wsdl:output message="tns:GetTwitterMessages1ByKeywordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <wsdl:input message="tns:GetFeedCountByProfileIdAndUserIdHttpPostIn" />
      <wsdl:output message="tns:GetFeedCountByProfileIdAndUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <wsdl:input message="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpPostIn" />
      <wsdl:output message="tns:getAllTwitterkMessagesOfUserByProfileIdWithRangeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <wsdl:input message="tns:GetAllMessageDetailWithRangeHttpPostIn" />
      <wsdl:output message="tns:GetAllMessageDetailWithRangeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterMessageSoap" type="tns:TwitterMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTwitterMessages">
      <soap:operation soapAction="http://tempuri.org/GetTwitterMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <soap:operation soapAction="http://tempuri.org/GetTwitterMessages1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <soap:operation soapAction="http://tempuri.org/getUnreadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <soap:operation soapAction="http://tempuri.org/getAlltwtMessagesOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <soap:operation soapAction="http://tempuri.org/getAlltwtMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterUsertweetOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterRetweetOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterMentionsOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <soap:operation soapAction="http://tempuri.org/GetTwitterMessageByMessageId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterUsertweetOfUsersByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterRetweetOfUsersByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterMentionsOfUsersByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <soap:operation soapAction="http://tempuri.org/GetTwitterMessages1ByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <soap:operation soapAction="http://tempuri.org/GetFeedCountByProfileIdAndUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterkMessagesOfUserByProfileIdWithRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <soap:operation soapAction="http://tempuri.org/GetAllMessageDetailWithRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterMessageSoap12" type="tns:TwitterMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTwitterMessages">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterMessages1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <soap12:operation soapAction="http://tempuri.org/getUnreadMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <soap12:operation soapAction="http://tempuri.org/getAlltwtMessagesOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <soap12:operation soapAction="http://tempuri.org/getAlltwtMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterUsertweetOfUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterRetweetOfUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterMentionsOfUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterMessageByMessageId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterUsertweetOfUsersByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterRetweetOfUsersByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterMentionsOfUsersByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterMessages1ByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <soap12:operation soapAction="http://tempuri.org/GetFeedCountByProfileIdAndUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterkMessagesOfUserByProfileIdWithRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <soap12:operation soapAction="http://tempuri.org/GetAllMessageDetailWithRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterMessageHttpGet" type="tns:TwitterMessageHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTwitterMessages">
      <http:operation location="/GetTwitterMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <http:operation location="/GetTwitterMessages1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <http:operation location="/getUnreadMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <http:operation location="/getAlltwtMessagesOfUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <http:operation location="/getAlltwtMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <http:operation location="/getAllTwitterUsertweetOfUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <http:operation location="/getAllTwitterRetweetOfUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <http:operation location="/getAllTwitterMentionsOfUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <http:operation location="/GetTwitterMessageByMessageId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <http:operation location="/getAllTwitterUsertweetOfUsersByKeyword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <http:operation location="/getAllTwitterRetweetOfUsersByKeyword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <http:operation location="/getAllTwitterMentionsOfUsersByKeyword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <http:operation location="/GetTwitterMessages1ByKeyword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <http:operation location="/GetFeedCountByProfileIdAndUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <http:operation location="/getAllTwitterkMessagesOfUserByProfileIdWithRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <http:operation location="/GetAllMessageDetailWithRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterMessageHttpPost" type="tns:TwitterMessageHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTwitterMessages">
      <http:operation location="/GetTwitterMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1">
      <http:operation location="/GetTwitterMessages1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <http:operation location="/getUnreadMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessagesOfUser">
      <http:operation location="/getAlltwtMessagesOfUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlltwtMessages">
      <http:operation location="/getAlltwtMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsers">
      <http:operation location="/getAllTwitterUsertweetOfUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsers">
      <http:operation location="/getAllTwitterRetweetOfUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsers">
      <http:operation location="/getAllTwitterMentionsOfUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessageByMessageId">
      <http:operation location="/GetTwitterMessageByMessageId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterUsertweetOfUsersByKeyword">
      <http:operation location="/getAllTwitterUsertweetOfUsersByKeyword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterRetweetOfUsersByKeyword">
      <http:operation location="/getAllTwitterRetweetOfUsersByKeyword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterMentionsOfUsersByKeyword">
      <http:operation location="/getAllTwitterMentionsOfUsersByKeyword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterMessages1ByKeyword">
      <http:operation location="/GetTwitterMessages1ByKeyword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCountByProfileIdAndUserId">
      <http:operation location="/GetFeedCountByProfileIdAndUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterkMessagesOfUserByProfileIdWithRange">
      <http:operation location="/getAllTwitterkMessagesOfUserByProfileIdWithRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessageDetailWithRange">
      <http:operation location="/GetAllMessageDetailWithRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterMessage">
    <wsdl:port name="TwitterMessageSoap" binding="tns:TwitterMessageSoap">
      <soap:address location="http://localhost:6361/Services/TwitterMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterMessageSoap12" binding="tns:TwitterMessageSoap12">
      <soap12:address location="http://localhost:6361/Services/TwitterMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterMessageHttpGet" binding="tns:TwitterMessageHttpGet">
      <http:address location="http://localhost:6361/Services/TwitterMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterMessageHttpPost" binding="tns:TwitterMessageHttpPost">
      <http:address location="http://localhost:6361/Services/TwitterMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>