SocioBoard/Socioboard/Web References/Api.CompanyDashboard/CompanyDashboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllCompanyNames">
        <s:complexType />
      </s:element>
      <s:element name="getAllCompanyNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCompanyNamesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCompanyProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCompanyProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCompanyProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCompanyProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCompanyProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCompanyProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllCompanyNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCompanyNames" />
  </wsdl:message>
  <wsdl:message name="getAllCompanyNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCompanyNamesResponse" />
  </wsdl:message>
  <wsdl:message name="getCompanyProfileSoapIn">
    <wsdl:part name="parameters" element="tns:getCompanyProfile" />
  </wsdl:message>
  <wsdl:message name="getCompanyProfileSoapOut">
    <wsdl:part name="parameters" element="tns:getCompanyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCompanyProfileSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCompanyProfile" />
  </wsdl:message>
  <wsdl:message name="SearchCompanyProfileSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCompanyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyProfile" />
  </wsdl:message>
  <wsdl:message name="GetCompanyProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCompanyNamesHttpGetIn" />
  <wsdl:message name="getAllCompanyNamesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getCompanyProfileHttpGetIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCompanyProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchCompanyProfileHttpGetIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchCompanyProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyProfileHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllCompanyNamesHttpPostIn" />
  <wsdl:message name="getAllCompanyNamesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getCompanyProfileHttpPostIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCompanyProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchCompanyProfileHttpPostIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchCompanyProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyProfileHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CompanyDashboardSoap">
    <wsdl:operation name="getAllCompanyNames">
      <wsdl:input message="tns:getAllCompanyNamesSoapIn" />
      <wsdl:output message="tns:getAllCompanyNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <wsdl:input message="tns:getCompanyProfileSoapIn" />
      <wsdl:output message="tns:getCompanyProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <wsdl:input message="tns:SearchCompanyProfileSoapIn" />
      <wsdl:output message="tns:SearchCompanyProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <wsdl:input message="tns:GetCompanyProfileSoapIn" />
      <wsdl:output message="tns:GetCompanyProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CompanyDashboardHttpGet">
    <wsdl:operation name="getAllCompanyNames">
      <wsdl:input message="tns:getAllCompanyNamesHttpGetIn" />
      <wsdl:output message="tns:getAllCompanyNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <wsdl:input message="tns:getCompanyProfileHttpGetIn" />
      <wsdl:output message="tns:getCompanyProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <wsdl:input message="tns:SearchCompanyProfileHttpGetIn" />
      <wsdl:output message="tns:SearchCompanyProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <wsdl:input message="tns:GetCompanyProfileHttpGetIn" />
      <wsdl:output message="tns:GetCompanyProfileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CompanyDashboardHttpPost">
    <wsdl:operation name="getAllCompanyNames">
      <wsdl:input message="tns:getAllCompanyNamesHttpPostIn" />
      <wsdl:output message="tns:getAllCompanyNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <wsdl:input message="tns:getCompanyProfileHttpPostIn" />
      <wsdl:output message="tns:getCompanyProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <wsdl:input message="tns:SearchCompanyProfileHttpPostIn" />
      <wsdl:output message="tns:SearchCompanyProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <wsdl:input message="tns:GetCompanyProfileHttpPostIn" />
      <wsdl:output message="tns:GetCompanyProfileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompanyDashboardSoap" type="tns:CompanyDashboardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCompanyNames">
      <soap:operation soapAction="http://tempuri.org/getAllCompanyNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <soap:operation soapAction="http://tempuri.org/getCompanyProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <soap:operation soapAction="http://tempuri.org/SearchCompanyProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <soap:operation soapAction="http://tempuri.org/GetCompanyProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyDashboardSoap12" type="tns:CompanyDashboardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCompanyNames">
      <soap12:operation soapAction="http://tempuri.org/getAllCompanyNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <soap12:operation soapAction="http://tempuri.org/getCompanyProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <soap12:operation soapAction="http://tempuri.org/SearchCompanyProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyDashboardHttpGet" type="tns:CompanyDashboardHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getAllCompanyNames">
      <http:operation location="/getAllCompanyNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <http:operation location="/getCompanyProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <http:operation location="/SearchCompanyProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <http:operation location="/GetCompanyProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyDashboardHttpPost" type="tns:CompanyDashboardHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getAllCompanyNames">
      <http:operation location="/getAllCompanyNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyProfile">
      <http:operation location="/getCompanyProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <http:operation location="/SearchCompanyProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyProfile">
      <http:operation location="/GetCompanyProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyDashboard">
    <wsdl:port name="CompanyDashboardSoap" binding="tns:CompanyDashboardSoap">
      <soap:address location="http://localhost:6361/services/CompanyDashboard.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyDashboardSoap12" binding="tns:CompanyDashboardSoap12">
      <soap12:address location="http://localhost:6361/services/CompanyDashboard.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyDashboardHttpGet" binding="tns:CompanyDashboardHttpGet">
      <http:address location="http://localhost:6361/services/CompanyDashboard.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyDashboardHttpPost" binding="tns:CompanyDashboardHttpPost">
      <http:address location="http://localhost:6361/services/CompanyDashboard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>