SocioBoard/Socioboard/Web References/Api.Groups/Groups.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupDetailsByGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupDetailsByGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupDetailsByGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupDetailsByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupDetailsByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupDetailsByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteGroupByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteGroupByNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteGroupByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupDeUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupDeUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupDeUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="AddGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupDetailsByGroupId" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupDetailsByGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupDetailsByUserId" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupDetailsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroupByUserId" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByNameSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroupByName" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByNameSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroupById" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupDeUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupDeUserId" />
  </wsdl:message>
  <wsdl:message name="GetGroupDeUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupDeUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupHttpGetIn">
    <wsdl:part name="GroupName" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByGroupIdHttpGetIn">
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByGroupIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByNameHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIdHttpGetIn">
    <wsdl:part name="GroupId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDeUserIdHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDeUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddGroupHttpPostIn">
    <wsdl:part name="GroupName" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByGroupIdHttpPostIn">
    <wsdl:part name="GroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByGroupIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDetailsByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByNameHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="GroupName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIdHttpPostIn">
    <wsdl:part name="GroupId" type="s:string" />
    <wsdl:part name="Userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDeUserIdHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupDeUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GroupsSoap">
    <wsdl:operation name="AddGroup">
      <wsdl:input message="tns:AddGroupSoapIn" />
      <wsdl:output message="tns:AddGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <wsdl:input message="tns:GetGroupDetailsByGroupIdSoapIn" />
      <wsdl:output message="tns:GetGroupDetailsByGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <wsdl:input message="tns:GetGroupDetailsByUserIdSoapIn" />
      <wsdl:output message="tns:GetGroupDetailsByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <wsdl:input message="tns:DeleteGroupByUserIdSoapIn" />
      <wsdl:output message="tns:DeleteGroupByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <wsdl:input message="tns:DeleteGroupByNameSoapIn" />
      <wsdl:output message="tns:DeleteGroupByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <wsdl:input message="tns:DeleteGroupByIdSoapIn" />
      <wsdl:output message="tns:DeleteGroupByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <wsdl:input message="tns:GetGroupDeUserIdSoapIn" />
      <wsdl:output message="tns:GetGroupDeUserIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GroupsHttpGet">
    <wsdl:operation name="AddGroup">
      <wsdl:input message="tns:AddGroupHttpGetIn" />
      <wsdl:output message="tns:AddGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <wsdl:input message="tns:GetGroupDetailsByGroupIdHttpGetIn" />
      <wsdl:output message="tns:GetGroupDetailsByGroupIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <wsdl:input message="tns:GetGroupDetailsByUserIdHttpGetIn" />
      <wsdl:output message="tns:GetGroupDetailsByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <wsdl:input message="tns:DeleteGroupByUserIdHttpGetIn" />
      <wsdl:output message="tns:DeleteGroupByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <wsdl:input message="tns:DeleteGroupByNameHttpGetIn" />
      <wsdl:output message="tns:DeleteGroupByNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <wsdl:input message="tns:DeleteGroupByIdHttpGetIn" />
      <wsdl:output message="tns:DeleteGroupByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <wsdl:input message="tns:GetGroupDeUserIdHttpGetIn" />
      <wsdl:output message="tns:GetGroupDeUserIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GroupsHttpPost">
    <wsdl:operation name="AddGroup">
      <wsdl:input message="tns:AddGroupHttpPostIn" />
      <wsdl:output message="tns:AddGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <wsdl:input message="tns:GetGroupDetailsByGroupIdHttpPostIn" />
      <wsdl:output message="tns:GetGroupDetailsByGroupIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <wsdl:input message="tns:GetGroupDetailsByUserIdHttpPostIn" />
      <wsdl:output message="tns:GetGroupDetailsByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <wsdl:input message="tns:DeleteGroupByUserIdHttpPostIn" />
      <wsdl:output message="tns:DeleteGroupByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <wsdl:input message="tns:DeleteGroupByNameHttpPostIn" />
      <wsdl:output message="tns:DeleteGroupByNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <wsdl:input message="tns:DeleteGroupByIdHttpPostIn" />
      <wsdl:output message="tns:DeleteGroupByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <wsdl:input message="tns:GetGroupDeUserIdHttpPostIn" />
      <wsdl:output message="tns:GetGroupDeUserIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupsSoap" type="tns:GroupsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/AddGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <soap:operation soapAction="http://tempuri.org/GetGroupDetailsByGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <soap:operation soapAction="http://tempuri.org/GetGroupDetailsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <soap:operation soapAction="http://tempuri.org/DeleteGroupByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <soap:operation soapAction="http://tempuri.org/DeleteGroupByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <soap:operation soapAction="http://tempuri.org/DeleteGroupById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <soap:operation soapAction="http://tempuri.org/GetGroupDeUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupsSoap12" type="tns:GroupsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGroup">
      <soap12:operation soapAction="http://tempuri.org/AddGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetGroupDetailsByGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetGroupDetailsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <soap12:operation soapAction="http://tempuri.org/DeleteGroupByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <soap12:operation soapAction="http://tempuri.org/DeleteGroupByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <soap12:operation soapAction="http://tempuri.org/DeleteGroupById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <soap12:operation soapAction="http://tempuri.org/GetGroupDeUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupsHttpGet" type="tns:GroupsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddGroup">
      <http:operation location="/AddGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <http:operation location="/GetGroupDetailsByGroupId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <http:operation location="/GetGroupDetailsByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <http:operation location="/DeleteGroupByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <http:operation location="/DeleteGroupByName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <http:operation location="/DeleteGroupById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <http:operation location="/GetGroupDeUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupsHttpPost" type="tns:GroupsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddGroup">
      <http:operation location="/AddGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByGroupId">
      <http:operation location="/GetGroupDetailsByGroupId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetailsByUserId">
      <http:operation location="/GetGroupDetailsByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByUserId">
      <http:operation location="/DeleteGroupByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByName">
      <http:operation location="/DeleteGroupByName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupById">
      <http:operation location="/DeleteGroupById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDeUserId">
      <http:operation location="/GetGroupDeUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Groups">
    <wsdl:port name="GroupsSoap" binding="tns:GroupsSoap">
      <soap:address location="http://localhost:6361/Services/Groups.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupsSoap12" binding="tns:GroupsSoap12">
      <soap12:address location="http://localhost:6361/Services/Groups.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupsHttpGet" binding="tns:GroupsHttpGet">
      <http:address location="http://localhost:6361/Services/Groups.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupsHttpPost" binding="tns:GroupsHttpPost">
      <http:address location="http://localhost:6361/Services/Groups.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>